NLETS_Schema/FPR/xsd/niem/domains/jxdm/4.1/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/domains/jxdm/4.1" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>Justice</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../../appinfo/2.1/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.1"/>
  <xsd:import schemaLocation="../../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../../niem-core/2.0/niem-core.xsd" namespace="http://niem.gov/niem/niem-core/2.0"/>
  <xsd:import schemaLocation="../../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="CourtOrderType">
    <xsd:annotation>
      <xsd:documentation>A data type for a direction of a judge not including a judgement, which determines some point or directs some steps in proceedings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:CourtOrderDesignatedSubject" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:CourtOrderIssuingCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="j:CourtOrderIssuingDate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CourtType">
    <xsd:annotation>
      <xsd:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element ref="j:CourtName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OffenseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an alleged violation of a statute, ordinance, or rule.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:OffenseDesignation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="j:OffenseQualifier" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonAugmentationType">
    <xsd:annotation>
      <xsd:documentation>A data type for additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="AugmentationType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element ref="j:PersonBirthPlaceCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for an applied augmentation for type nc:PersonType</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonType">
        <xsd:sequence>
          <xsd:element ref="j:PersonAugmentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SentenceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="j:SentenceDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SubjectType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person who is involved or suspected of being involved in an incident or criminal activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="j:SubjectIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WarrantType">
    <xsd:annotation>
      <xsd:documentation>A data type for an authorization for an enforcement official to perform a specified action.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="CourtOrderType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:CourtOrderType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ArrestWarrant" type="j:WarrantType">
    <xsd:annotation>
      <xsd:documentation>A court authorized order which commands a peace official to arrest a subject and bring that subject before the court.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ChargeText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The text of a charge.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a unit of a court.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtOrderDesignatedSubject" type="j:SubjectType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person to which a court order applies. The subject could be a Protected Party, the recipient of a Summons or Subpoena, the subject of a Warrant, etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtOrderIssuingCourt" type="j:CourtType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A court that issued a court order.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CourtOrderIssuingDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a court order was issued by a judicial official.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OffenseDesignation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A distinguishing designation of an offense.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OffenseName" type="nc:TextType" substitutionGroup="j:OffenseDesignation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An offense designation.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="OffenseDesignation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OffenseQualifier" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A set of details that further characterizes an offense.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OffenseQualifierText" type="nc:TextType" substitutionGroup="j:OffenseQualifier" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A set of details that further characterizes an offense.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="OffenseQualifier"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="s:Augmentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional information about a person.</xsd:documentation>
      <xsd:appinfo>
        <i:AppliesTo i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthPlaceCode" type="fbi:POBCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state or country of a person's birth.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SentenceDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the sentence being imposed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An assigned number or string that identifies a subject.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubjectStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A general status of a subject.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Warrant" type="j:WarrantType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An authorization for an enforcement official to perform a specified action.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
