NLETS_Schema/KQ/xsd/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:ansi_d20="http://niem.gov/niem/ansi_d20/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../ansi_d20/2.0/ansi_d20.xsd" namespace="http://niem.gov/niem/ansi_d20/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a digital representation of an object encoded in a binary format.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:BinaryAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:BinaryObject" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:BinaryCaptureDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:BinaryFormatID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:BinaryCategoryText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a period of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a paper or electronic document.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DocumentCreationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DocumentExpirationDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseBaseType">
    <xsd:annotation>
      <xsd:documentation>A data type for an authorization issued to a driver granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicenseIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseEndorsement" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseExpirationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseIssueDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseRestriction" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicensePermitType">
    <xsd:annotation>
      <xsd:documentation>A data type for a driver license permit issued to a driver granting conditional or limited driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseBaseType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DriverLicenseBaseType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicensePermitClassificationText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicensePermitStatus" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseType">
    <xsd:annotation>
      <xsd:documentation>A data type for a license issued to a person granting driving privileges.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseBaseType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DriverLicenseBaseType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicenseCommercialClass" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseCommercialStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseNonCommercialClassText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseNonCommercialStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicensePermit" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicensePermitQuantity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawal" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DriverLicenseWithdrawalType">
    <xsd:annotation>
      <xsd:documentation>A data type for a driver license withdrawal.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element ref="nc:DriverLicenseWithdrawalAction" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalBasis" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalValue" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalDueProcessStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalEffectiveDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalEligibilityCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalEligibilityDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalExtent" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalIssuingAuthority" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalLocatorReferenceIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalReasonReferenceCode" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:DriverLicenseWithdrawalReinstatementDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DrivingRestrictionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a restriction applicable to a driver permit or license.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DrivingRestrictionValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DrivingRestrictionDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DrivingRestrictionEndDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a picture or visual representation of something.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="BinaryType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:BinaryType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentType">
    <xsd:annotation>
      <xsd:documentation>A data type for an occurrence or an event that may require a response.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JurisdictionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geopolitical area in which an organization, person, or object has a specific range of authority.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasurePointValueType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measure point value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NumericType">
    <xsd:annotation>
      <xsd:documentation>A data type for a number value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonDigitalImage" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonEyeColor" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHairColor" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonHeightMeasure" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMedicalFileIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonOrganDonatorIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonRace" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonWeightMeasure" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="WeightMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of an activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification that references an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryAvailableIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a binary is available; false if it is not.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A binary encoding of data.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="BinaryObject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryCaptureDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which a binary object is captured or created.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of object that has been encoded.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryFormatID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier for a file format or content type of a binary object.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryObject" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A binary encoding of data.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformation" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMailingAddress" type="nc:AddressType" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A postal address by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentCreationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a document was created.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a document should be removed from a registry or index.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicense" type="nc:DriverLicenseType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a license issued to a person granting driving privileges.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseCommercialClass" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseCommercialClassText" type="nc:TextType" substitutionGroup="nc:DriverLicenseCommercialClass" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of commercial vehicle that a licensed driver has been examined on and approved to operate.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseCommercialClass"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseCommercialStatus" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A current status of an individual&apos;s Commercial privilege type.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseCommercialStatusText" type="nc:TextType" substitutionGroup="nc:DriverLicenseCommercialStatus" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A current status of an individual&apos;s Commercial privilege type.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseCommercialStatus"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseEndorsement" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An endorsement on a driver license or driver license permit which authorizes the operation of specified types of vehicles carrying specified loads.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseEndorsementCode" type="ansi_d20:DrivingEndorsementCodeType" substitutionGroup="nc:DriverLicenseEndorsement" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An endorsement on a driver license or driver license permit which authorizes the operation of specified types of vehicles carrying specified loads.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseEndorsement"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseEndorsementText" type="nc:TextType" substitutionGroup="nc:DriverLicenseEndorsement" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An endorsement on a driver license or driver license permit which authorizes the operation of specified types of vehicles carrying specified loads.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseEndorsement"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The date after which a driver license or driver license permit is no longer valid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a driver license identifier or driver license permit identifier, including the number and state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseIssueDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>The date when a driver license or driver license permit is issued or renewed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseNonCommercialClassText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of non-commercial vehicle that a licensed driver has been examined on and approved to operate.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseNonCommercialStatus" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A current status of an individual&apos;s non-commercial privilege (base) type.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseNonCommercialStatusText" type="nc:TextType" substitutionGroup="nc:DriverLicenseNonCommercialStatus" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A current status of an individual&apos;s non-commercial privilege (base) type.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseNonCommercialStatus"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicensePermit" type="nc:DriverLicensePermitType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about a driver license permit issued to a driver granting conditional or limited driving privileges.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicensePermitClassificationText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of commercial or non-commercial vehicle that a licensed driver has been examined on and approved to operate subject to a permit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicensePermitQuantity" type="niem-xsd:integer" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A number of driver permits issued on a license.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicensePermitStatus" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A current status of an individuals driver license permit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicensePermitStatusText" type="nc:TextType" substitutionGroup="nc:DriverLicensePermitStatus" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A current status of an individuals driver license permit.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicensePermitStatus"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseRestriction" type="nc:DrivingRestrictionType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A restriction on a driver license or driver license permit.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawal" type="nc:DriverLicenseWithdrawalType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details regarding a driver license withdrawal.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalAction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of driver license withdrawal action that was taken.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalActionCode" type="ansi_d20:DriverLicenseWithdrawalActionCodeType" substitutionGroup="nc:DriverLicenseWithdrawalAction" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of driver license withdrawal action that was taken.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseWithdrawalAction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalBasis" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A basis for the withdrawal action for a driver.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalBasisCode" type="ansi_d20:DriverLicenseWithdrawalBasisCodeType" substitutionGroup="nc:DriverLicenseWithdrawalBasis" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A basis for the withdrawal action for a driver.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseWithdrawalBasis"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalCode" type="ansi_d20:DrivingOffenseCodeType" substitutionGroup="nc:DriverLicenseWithdrawalValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A reason for a driver license withdrawal.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseWithdrawalValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalDueProcessStatus" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A due process status of a withdrawal action.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalDueProcessStatusCode" type="ansi_d20:DriverLicenseWithdrawalDueProcessStatusCodeType" substitutionGroup="nc:DriverLicenseWithdrawalDueProcessStatus" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A due process status of a withdrawal action.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseWithdrawalDueProcessStatus"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalEffectiveDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which a driver license withdrawal becomes effective.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalEligibilityCode" type="ansi_d20:DriverLicenseWithdrawalEligibilityCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An indication of when a driver is eligible to apply for reinstatement of those driving privileges withdrawn.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalEligibilityDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on or after which a driver is eligible to apply for reinstatement of those driving privileges withdrawn.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalExtent" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A portion of driving privileges being withdrawn.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalExtentText" type="nc:TextType" substitutionGroup="nc:DriverLicenseWithdrawalExtent" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A portion of driving privileges being withdrawn.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseWithdrawalExtent"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalIssuingAuthority" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A jurisdiction which withdrew driving privileges for a driver.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalIssuingAuthorityText" type="nc:TextType" substitutionGroup="nc:DriverLicenseWithdrawalIssuingAuthority" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A jurisdiction which withdrew driving privileges for a driver.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseWithdrawalIssuingAuthority"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalLocatorReferenceIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A reference number for the organization that keeps the withdrawal records.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalReasonReferenceCode" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A withdrawal reason for future reference by the original State of Conviction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalReinstatementDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date that the licensing privilege of an individual driver (which has been previously withdrawn) is reinstated.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalText" type="nc:TextType" substitutionGroup="nc:DriverLicenseWithdrawalValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A reason for the withdrawal.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DriverLicenseWithdrawalValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DriverLicenseWithdrawalValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A withdrawal value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DrivingRestrictionCode" type="ansi_d20:DrivingRestrictionCodeType" substitutionGroup="nc:DrivingRestrictionValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A category of a driving restriction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DrivingRestrictionValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DrivingRestrictionDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An explanation of the nature of a restriction </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DrivingRestrictionEndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which a special restriction ends.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DrivingRestrictionText" type="nc:TextType" substitutionGroup="nc:DrivingRestrictionValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A category of a driving restriction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DrivingRestrictionValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DrivingRestrictionValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A driving restriction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An end date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdiction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdictionText" type="nc:TextType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountry" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountryName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCountry" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCountry"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCounty" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A county, parish, vicinage, or other such geopolitical subdivision of a state.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCounty"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateNCICLSTACode" type="fbi:LSTACodeType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific measurement value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind or functional type of organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationCategoryText" type="nc:TextType" substitutionGroup="nc:OrganizationCategory" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind or functional type of organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="OrganizationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonDigitalImage" type="nc:ImageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A photograph or image of a person in a digital format.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonEyeColorText" type="nc:TextType" substitutionGroup="nc:PersonEyeColor" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A color of the eyes of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonEyeColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairColor" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A color of the hair of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHairColorText" type="nc:TextType" substitutionGroup="nc:PersonHairColor" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A color of the hair of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonHairColor"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the height of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMedicalFileIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a medical history file is known to exist for a person; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A term appended after the family name that qualifies the name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonOrganDonatorIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person has given consent to be used as an organ donor upon death; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRace" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonRaceText" type="nc:TextType" substitutionGroup="nc:PersonRace" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonRace"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSex" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexText" type="nc:TextType" substitutionGroup="nc:PersonSex" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete reference for a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
