NLETS_Schema/DEA/xsd/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:complexType name="ActivityType">
		<xsd:annotation>
			<xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ActivityIdentification" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AircraftType">
		<xsd:annotation>
			<xsd:documentation>A data type for a mode of transportation capable of flying in the air.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyanceType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ConveyanceType">
				<xsd:sequence>
					<xsd:element ref="nc:AircraftTailID" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaseType">
		<xsd:annotation>
			<xsd:documentation>A data type for an aggregation of information about a set of related activities and events.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConveyanceType">
		<xsd:annotation>
			<xsd:documentation>A data type for a means of transport from place to place.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TangibleItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:TangibleItemType">
				<xsd:sequence>
					<xsd:element ref="nc:ConveyanceRegistrationPlateIdentification" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a calendar date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:annotation>
			<xsd:documentation>A data type for a paper or electronic document.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DocumentSubmitter" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DrugType">
		<xsd:annotation>
			<xsd:documentation>A data type for a legal or illegal substance that can be used as a medicine or a narcotic.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="SubstanceType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:SubstanceType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EntityType">
		<xsd:annotation>
			<xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FullTelephoneNumberType">
		<xsd:annotation>
			<xsd:documentation>A data type for a full telephone number.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="0"/>
					<xsd:element ref="nc:IdentificationSourceText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:annotation>
			<xsd:documentation>A data type for an article or thing.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LengthMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of length.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MeasurePointValueType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measure point value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureValue" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumericType">
		<xsd:annotation>
			<xsd:documentation>A data type for a number value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationName" minOccurs="0"/>
					<xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonFullName"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>A data type for a human being.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonAgeMeasure" minOccurs="0"/>
					<xsd:element ref="nc:PersonAlternateName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonBirthDate" minOccurs="0"/>
					<xsd:element ref="nc:PersonEyeColor" minOccurs="0"/>
					<xsd:element ref="nc:PersonHairColor" minOccurs="0"/>
					<xsd:element ref="nc:PersonHeightMeasure" minOccurs="0"/>
					<xsd:element ref="nc:PersonName"/>
					<xsd:element ref="nc:PersonRace" minOccurs="0"/>
					<xsd:element ref="nc:PersonSex" minOccurs="0"/>
					<xsd:element ref="nc:PersonSSNIdentification" minOccurs="0"/>
					<xsd:element ref="nc:PersonWeightMeasure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StreetType">
		<xsd:annotation>
			<xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StreetFullText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:annotation>
			<xsd:documentation>A data type for an address.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0"/>
					<xsd:element ref="nc:LocationCityName" minOccurs="0"/>
					<xsd:element ref="nc:LocationState" minOccurs="0"/>
					<xsd:element ref="nc:LocationPostalCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubstanceType">
		<xsd:annotation>
			<xsd:documentation>A data type for the matter or substance of which something consists.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TangibleItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:TangibleItemType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TangibleItemType">
		<xsd:annotation>
			<xsd:documentation>A data type for a physical object.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ItemType">
				<xsd:sequence>
					<xsd:element ref="nc:ItemCategory" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TelephoneNumberType">
		<xsd:annotation>
			<xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a character string.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TimeMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of a quantity of time.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyanceType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ConveyanceType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VesselType">
		<xsd:annotation>
			<xsd:documentation>A data type for a mode of transportation capable of transport by water.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyanceType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ConveyanceType">
				<xsd:sequence>
					<xsd:element ref="nc:VesselHullIdentification" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WeightMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification that references an activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressDeliveryPoint" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Aircraft" type="nc:AircraftType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A mode of transportation capable of flying in the air.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AircraftTailID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identifier of an aircraft.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Case" type="nc:CaseType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An aggregation of information about a set of related activities and events.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactMeans" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A means of contacting someone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactMobileTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactTelephoneNumber" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number for a mobile telecommunication device by which a person or organization may be contacted.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ContactTelephoneNumber"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactPagerNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactTelephoneNumber" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number for a paging device by which a person or organization may be contacted.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ContactTelephoneNumber"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification on a metal plate fixed to a conveyance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSubmitter" type="nc:EntityType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An entity responsible for making the resource available.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Drug" type="nc:DrugType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A legal or illegal substance that can be used as a medicine or a narcotic.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full telephone number.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TelephoneNumberRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that identifies something.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A person, organization, or locale which issues an identification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemCategory" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A kind of item.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemCategoryText" type="nc:TextType" substitutionGroup="nc:ItemCategory" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A kind of property item.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ItemCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of a city or town.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationState" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="LocationState"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A specific measurement value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A measurement value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A preferred means of contacting an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonAgeMeasure" type="nc:TimeMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the age of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonAlternateName" type="nc:PersonNameType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An alternate name used by a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date a person was born.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEyeColor" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A color of the eyes of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEyeColorText" type="nc:TextType" substitutionGroup="nc:PersonEyeColor" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A color of the eyes of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonEyeColor"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonHairColor" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A color of the hair of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonHairColorText" type="nc:TextType" substitutionGroup="nc:PersonHairColor" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A color of the hair of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonHairColor"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the height of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonRace" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonRaceText" type="nc:TextType" substitutionGroup="nc:PersonRace" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A classification of a person based on factors such as geographical locations and genetics.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonRace"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSex" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSexText" type="nc:TextType" substitutionGroup="nc:PersonSex" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonSex"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete reference for a street.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Vehicle" type="nc:VehicleType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Vessel" type="nc:VesselType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A mode of transportation capable of transport by water.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VesselHullIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification found on the main body or frame of a vessel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
