NLETS_Schema/SR/nlets/snowmobile-registration/1.0/niem/domains/jxdm/5.1/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/5.1/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/fbi_ncic/3.1/fbi_ncic.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ncic/3.1/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ConveyanceRegistrationStatusType">
    <xs:annotation>
      <xs:documentation>A data type for a state of registration of a conveyance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:StatusType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:ItemRegistrationType">
        <xs:sequence>
          <xs:element ref="j:ConveyanceRegistrationDecal" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ConveyanceRegistrationPermanentIndicator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ConveyanceRegistrationStatus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImageAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an image.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ImageJuvenileIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a property item with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:RegistrationIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:RegistrationEffectiveDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:RegistrationExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:RegistrationFee" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:RegistrationHolder" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemTitleAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a property item, documents pertaining to its ownership, and an entity to whom the title is issued.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:Title" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:Item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemTitleType">
    <xs:annotation>
      <xs:documentation>A data type for a deed or other official document showing the legal ownership of a property item.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:TitleIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TitleIssueDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:TitleStatus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TitleStatusType">
    <xs:annotation>
      <xs:documentation>A data type for a state of a title.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:StatusType">
        <xs:sequence>
          <xs:element ref="j:TitleStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConveyanceRegistration" type="j:ConveyanceRegistrationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationDecal" type="nc:DecalType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sticker attached to a permanent registration plate on a conveyance when it is renewed for the current year.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPermanentIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a registration for a conveyance is permanent; false if a registration is temporary.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification on a metal plate fixed to a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationStatus" type="j:ConveyanceRegistrationStatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of registration for a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EngineHorsepowerQuantity" type="nc:QuantityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure count of the horsepower of a conveyance engine.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageAugmentation" type="j:ImageAugmentationType" substitutionGroup="nc:ImageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an image.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageJuvenileIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if an image is of a juvenile; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemTitle" type="j:ItemTitleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A deed or other official document showing the legal ownership of a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemTitleAssociation" type="j:ItemTitleAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a property item and its title.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStateNCICLISCode" type="ncic:LISCodeType" substitutionGroup="nc:LocationState">
    <xs:annotation>
      <xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegistrationEffectiveDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date the current registration takes effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegistrationExpirationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date the current registration is no longer in effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegistrationFee" type="nc:ObligationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of money required to register a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegistrationHolder" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity to whom a registration is issued.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a registration certificate or document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Title" type="j:ItemTitleType" nillable="true">
    <xs:annotation>
      <xs:documentation>A deed or other official document showing the legal ownership of a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TitleIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a certificate of title to a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TitleIssueDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date on which a jurisdictional titling authority issued a title to the owner of a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TitleStatus" type="j:TitleStatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of a property title.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TitleStatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a status of a title.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
