NLETS_Schema/AA/nlets/amber-alert/1.0/niem/domains/jxdm/5.1/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/5.1/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/fbi_ncic/3.1/fbi_ncic.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ncic/3.1/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ClothingType">
    <xs:annotation>
      <xs:documentation>A data type for an article of clothing, dress, or attire.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ClothingDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:ItemRegistrationType">
        <xs:sequence>
          <xs:element ref="j:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImageAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an image.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ImageJuvenileIndicator" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a property item with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JewelryType">
    <xs:annotation>
      <xs:documentation>A data type for an adornment made out of metals, gems, etc. or imitation materials.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType">
        <xs:sequence>
          <xs:element ref="j:JewelryCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MissingPersonType">
    <xs:annotation>
      <xs:documentation>A data type for details of a person whose whereabouts are unknown.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:MissingPersonCircumstance" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:MissingPersonLastSeenDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:MissingPersonLastSeenLocation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:MissingPersonAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonClothing" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonCautionInformation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityOfficial" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>An official associated with an activity</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifying number for a case that this activity is a part of, where the case number belongs to the agency that owns the activity information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ClothingDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of an article of clothing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistration" type="j:ConveyanceRegistrationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification on a metal plate fixed to a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseExpirationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date after which a driver license or driver license permit is no longer valid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageAugmentation" type="j:ImageAugmentationType" substitutionGroup="nc:ImageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an image.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageJuvenileIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if an image is of a juvenile; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JewelryCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of jewelry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JewelryCategoryCode" type="ncic:JWTCodeType" substitutionGroup="j:JewelryCategory">
    <xs:annotation>
      <xs:documentation>A kind of jewelry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JewelryCategoryText" type="nc:TextType" substitutionGroup="j:JewelryCategory">
    <xs:annotation>
      <xs:documentation>A kind of jewelry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JurisdictionNCICLSTACode" type="ncic:LSTACodeType" substitutionGroup="nc:JurisdictionAbstract">
    <xs:annotation>
      <xs:documentation>An area, state, region, or other geographic unit over which some kind of authority exists.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPerson" type="j:MissingPersonType">
    <xs:annotation>
      <xs:documentation>A person whose whereabouts are unknown.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for MissingPersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonCircumstance" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a circumstance surrounding the disappearance of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonCircumstanceText" type="nc:TextType" substitutionGroup="j:MissingPersonCircumstance">
    <xs:annotation>
      <xs:documentation>A circumstance surrounding the disappearance of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonLastSeenDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a missing person was last seen before disappearing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonLastSeenLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A place a missing person was last seen before disappearing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationIdentification" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an identification for an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationORIIdentification" type="nc:IdentificationType" substitutionGroup="j:OrganizationIdentification">
    <xs:annotation>
      <xs:documentation>A unique nine character NCIC identification (ORI) assigned to a justice-related organization by the FBI CJIS Division.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="nc:PersonAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCautionInformation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cautionary piece of information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCautionInformationText" type="nc:TextType" substitutionGroup="j:PersonCautionInformation">
    <xs:annotation>
      <xs:documentation>A cautionary piece of information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonClothing" type="j:ClothingType" nillable="true">
    <xs:annotation>
      <xs:documentation>An article of clothing, dress, or attire for a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A file control number (FCN) identification that is often used to link a NCIC record to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhysicalFeatureCategoryCode" type="ncic:SMTCodeType" substitutionGroup="nc:PhysicalFeatureCategory">
    <xs:annotation>
      <xs:documentation>A specific kind of physical feature.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is involved or suspected of being involved in an incident or criminal activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
