NLETS_Schema/PCR/xsd/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/fbi/2.0" schemaLocation="../../fbi/2.0/fbi.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:complexType name="ActivityType">
		<xsd:annotation>
			<xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:ContactEntity" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConveyancePartType">
		<xsd:annotation>
			<xsd:documentation>A data type for a part or component of a conveyance.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TangibleItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:TangibleItemType">
				<xsd:sequence>
					<xsd:element ref="nc:ConveyancePartID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:ConveyancePartBrand" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:ConveyancePartCategory" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConveyanceType">
		<xsd:annotation>
			<xsd:documentation>A data type for a means of transport from place to place.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TangibleItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:TangibleItemType">
				<xsd:sequence>
					<xsd:element ref="nc:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a calendar date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:annotation>
			<xsd:documentation>A data type for a paper or electronic document.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EntityType">
		<xsd:annotation>
			<xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FirearmType">
		<xsd:annotation>
			<xsd:documentation>A data type for a weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TangibleItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:TangibleItemType">
				<xsd:sequence>
					<xsd:element ref="nc:FirearmMakeCode" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:FirearmCaliber" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FullTelephoneNumberType">
		<xsd:annotation>
			<xsd:documentation>A data type for a full telephone number.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentType">
		<xsd:annotation>
			<xsd:documentation>A data type for an occurrence or an event that may require a response.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:annotation>
			<xsd:documentation>A data type for an article or thing.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ItemSerialIdentification" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumericType">
		<xsd:annotation>
			<xsd:documentation>A data type for a number value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>A data type for a human being.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SecuritiesType">
		<xsd:annotation>
			<xsd:documentation>A data type for a financial instrument showing ownership or credit.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ItemType">
				<xsd:sequence>
					<xsd:element ref="nc:SecuritiesDenomination" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TangibleItemType">
		<xsd:annotation>
			<xsd:documentation>A data type for a physical object.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ItemType">
				<xsd:sequence>
					<xsd:element ref="nc:ItemBrandName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:ItemCategory" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:ItemMakeName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:ItemModelName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:ItemModelYearDate" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TelephoneNumberType">
		<xsd:annotation>
			<xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a character string.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyanceType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ConveyanceType">
				<xsd:sequence>
					<xsd:element ref="nc:VehicleIdentification" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:VehicleMakeCode" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VesselType">
		<xsd:annotation>
			<xsd:documentation>A data type for a mode of transportation capable of transport by water.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyanceType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ConveyanceType">
				<xsd:sequence>
					<xsd:element ref="nc:VesselRegistrationIdentification" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:VesselHullIdentification" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification that references an activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactEntity" type="nc:EntityType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An entity that may be contacted by using the given contact information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactFaxNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactTelephoneNumber" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number for a facsimile device by which a person or organization may be contacted.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ContactTelephoneNumber"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactMeans" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A means of contacting someone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyancePart" type="nc:ConveyancePartType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A part or component of a conveyance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyancePartBrand" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A brand name or manufacturer name of a conveyance part.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyancePartBrandName" type="nc:TextType" substitutionGroup="nc:ConveyancePartBrand" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A brand name or manufacturer name of a conveyance part.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyancePartBrand"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyancePartCategory" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A kind of conveyance part.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyancePartCategoryText" type="nc:TextType" substitutionGroup="nc:ConveyancePartCategory" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A kind of conveyance part.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyancePartCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyancePartID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identifier assigned to a conveyance part.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification on a metal plate fixed to a conveyance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Firearm" type="nc:FirearmType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmCaliber" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmCaliberCode" type="fbi:CALCodeType" substitutionGroup="nc:FirearmCaliber" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A diameter of the inside of a barrel of a firearm.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="FirearmCaliber"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FirearmMakeCode" type="fbi:MAKCodeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A manufacturer of a firearm.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full telephone number.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TelephoneNumberRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationCategory" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A kind of identification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A kind of identification.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="IdentificationCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date after which an identification is no longer valid.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that identifies something.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationJurisdiction" abstract="true">
		<xsd:annotation>
			<xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationJurisdictionText" type="nc:TextType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="IdentificationJurisdiction"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Incident" type="nc:IncidentType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An occurrence or an event that may require a response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemBrandName" type="nc:ProperNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A distinctive name that identifies a manufacturer of a property item.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemCategory" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A kind of item.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemCategoryText" type="nc:TextType" substitutionGroup="nc:ItemCategory" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A kind of property item.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ItemCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemMakeName" type="nc:ProperNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of the manufacturer that produced an item.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemModelName" type="nc:ProperNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of a specific design or kind of item made by a manufacturer.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemModelYearDate" type="niem-xsd:gYear" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A year in which an item was manufactured or produced.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ItemSerialIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification inscribed on or attached to a part, collection of parts, or complete unit by the manufacturer. </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification that references an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A preferred means of contacting an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Person" type="nc:PersonType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A human being.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date a person was born.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A first name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A middle name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSex" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonSex"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A last name or family name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SecuritiesDenomination" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A value within a series of values reflecting the worth of a security note.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SecuritiesDenominationText" type="nc:TextType" substitutionGroup="nc:SecuritiesDenomination" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value within a series of values reflecting the worth of a security note.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="SecuritiesDenomination"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TangibleItem" type="nc:TangibleItemType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A physical object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Vehicle" type="nc:VehicleType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A unique combination of alphanumeric characters that identifies a specific vehicle.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleMakeCode" type="fbi:VMACodeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A manufacturer of a vehicle.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Vessel" type="nc:VesselType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A mode of transportation capable of transport by water.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VesselHullIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification found on the main body or frame of a vessel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VesselRegistrationIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification assigned to a vessel by the coast guard or another vessel licensing organization</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Year" type="niem-xsd:gYear" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A year.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
