NLETS_Schema/NUI/xsd/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConveyanceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a means of transport from place to place.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a paper or electronic document.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FullTelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentType">
    <xsd:annotation>
      <xsd:documentation>A data type for an occurrence or an event that may require a response.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for an article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NumericType">
    <xsd:annotation>
      <xsd:documentation>A data type for a number value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for a physical object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemModelYearDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ItemStyle" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VehicleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ConveyanceType">
        <xsd:sequence>
          <xsd:element ref="nc:VehicleIdentification" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:VehicleMakeCode" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:VehicleModelCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element substitutionGroup="nc:ActivityDateRepresentation" name="ActivityDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of an activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification that references an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ContactMeans" name="ContactTelephoneNumber" type="nc:TelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identification on a metal plate fixed to a conveyance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:DateRepresentation" name="Date" type="niem-xsd:date" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:TelephoneNumberRepresentation" name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:IdentificationCategory" name="IdentificationCategoryText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date after which an identification is no longer valid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdiction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:IdentificationJurisdiction" name="IdentificationJurisdictionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Incident" type="nc:IncidentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An occurrence or an event that may require a response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemModelYearDate" type="niem-xsd:gYear" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year in which an item was manufactured or produced.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemStyle" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A style of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A preferred means of contacting an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Vehicle" type="nc:VehicleType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unique combination of alphanumeric characters that identifies a specific vehicle.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleMakeCode" type="fbi:VMACodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A manufacturer of a vehicle.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="VehicleModelCode" type="fbi:VMOCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A specific design or class of vehicle made by a manufacturer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:ItemStyle" name="VehicleStyleCode" type="fbi:VSTCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A style of a vehicle.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemStyle"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element substitutionGroup="nc:DateRepresentation" name="Year" type="niem-xsd:gYear" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A year.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
