SSPs/Vehicle_Query_Results_SSP/artifacts/service_model/information_model/IEPD/xsd/VehicleQueryResultsExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vq-results-ext="http://osms.org/Extensions/VehicleQueryResults/1.0"
	xmlns:s="http://release.niem.gov/niem/structures/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:niem-xsd="http://release.niem.gov/niem/proxy/xsd/3.0/"
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.2/" targetNamespace="http://osms.org/Extensions/VehicleQueryResults/1.0">
	<xsd:import namespace="http://release.niem.gov/niem/structures/3.0/" schemaLocation="../xsd/niem/structures/3.0/structures.xsd">
		<xsd:annotation>
			<xsd:documentation>NIEM Defined structures for creating types.</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:import namespace="http://release.niem.gov/niem/niem-core/3.0/" schemaLocation="../xsd/niem/niem-core/3.0/niem-core.xsd">
		<xsd:annotation>
			<xsd:documentation>NIEM Core Data Model.</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:import namespace="http://release.niem.gov/niem/domains/jxdm/5.2/" schemaLocation="../xsd/niem/domains/jxdm/5.2/jxdm.xsd">
		<xsd:annotation>
			<xsd:documentation>NIEM Domain Schema, Justice Exchange, containing The base Justice information.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:import namespace="http://release.niem.gov/niem/proxy/xsd/3.0/" schemaLocation="../xsd/niem/proxy/xsd/3.0/xs.xsd">
		<xsd:annotation>
			<xsd:documentation>NIEM XML Proxy types.</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<!-- ********************************************************* -->
	<!--A -->
	<xsd:complexType name="ActivityAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional data about an activity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:CaseNumberText" minOccurs="0" />
					<xsd:element ref="vq-results-ext:RecordValidationDate" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConveyanceRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data that identifies a specific record in OSMS.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:RecordType">
				<xsd:sequence>
					<xsd:element ref="j:ItemNCICIdentification" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ConveyanceRegistrationAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:PublicDisseminationDateText" minOccurs="0" />
					<xsd:element ref="vq-results-ext:VehicleRegistrationImageAssociation" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ImageRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data for an image record.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:RecordType">
				<xsd:sequence>
					<xsd:element ref="j:ImageNCICIdentification" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ItemNCICIdentification" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ConveyanceRegistrationAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:CriminalOrganization" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Item" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:ItemImage" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Vehicle" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Vessel" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:ConveyancePart" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:BinaryDescriptionText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:ImagePerson" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InvestigativeInterestType">
		<xsd:annotation>
			<xsd:documentation>A data type for to contain investigative interests.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="nc:Organization" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- J -->
	<!-- L -->
	<xsd:complexType name="LITCodeType">
		<xsd:annotation>
			<xsd:documentation>A data type for License Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="vq-results-ext:LITCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--M -->
	<xsd:complexType name="MessageInterfacingOrganizationType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data in a OSMS Message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:OrganizationORIIdentification" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MissingPersonRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure the data pertaining to a OSMS missing person record.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:PersonRecordType">
				<xsd:sequence>
					<xsd:element ref="nc:ItemEntityAssociation" minOccurs="0" />
					<!-- <xsd:element ref="nc:RoleOfPerson" minOccurs="0"/> -->
					<xsd:element ref="j:MissingPerson" minOccurs="0" />
					<!-- xsd:element ref="vq-results-ext:PersonMatchData" minOccurs="0" maxOccurs="unbounded"/> <xsd:element ref="vq-results-ext:PersonWithInformation" 
						minOccurs="0" maxOccurs="unbounded"/> <xsd:element ref="vq-results-ext:PublicDisseminationDateText" minOccurs="0"/> <xsd:element 
						ref="vq-results-ext:RecoveredItemOffenseSummaryAssociation" minOccurs="0"/ -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--N -->
	<!--P -->
	<xsd:complexType name="PersonAddressAssociationAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a person address association.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ObjectType">
				<xsd:sequence>
					<xsd:element ref="vq-results-ext:PersonAddressCategory" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonAddressAugmentationType">
		<xsd:annotation>
			<xsd:documentation>A data type for additional information about a person's address.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ReportedDate" minOccurs="0" />
					<!-- xsd:element ref="vq-results-ext:PersonAddressAssociationTypeCode" minOccurs="0"/ -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--R -->
	<xsd:complexType name="RecordStatusType">
		<xsd:annotation>
			<xsd:documentation>A status of an OSMS record.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:StatusType">
				<xsd:sequence>
					<!-- xsd:element ref="vq-results-ext:RecordRemovalReasonCode" minOccurs="0"/ -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data that identifies a specific record in OSMS.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:ActivityWarrantAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:CaveatText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Incident" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:LastUpdatedDate" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:OrganizationDescriptionText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="nc:ReportedDate" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:InvestigativeInterest" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:MessageTransaction" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:NotifyOriginatingAgencyIndicator" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:RecordExpirationDate" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:RecordPurgeDate" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:RecordRemovalReasonText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:RecordStatus" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data that identifies a specific record in OSMS.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:RecordType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactInformationAssociation" minOccurs="0" />
					<xsd:element ref="j:ConveyanceRegistrationAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:DriverLicenseAssociation" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="j:PersonCautionInformationText" minOccurs="0" />
					<xsd:element ref="j:PersonNCICIdentification" minOccurs="0" />
					<xsd:element ref="vq-results-ext:FraudulentPerson" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:ImagePerson" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StatusAugmentationType">
		<xsd:annotation>
			<xsd:documentation>An data type to extend status type.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ObjectType">
				<xsd:sequence>
					<xsd:element ref="j:CaseNumberText" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element ref="vq-results-ext:StatusIssuerOrganization" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data for a OSMS vehicle record.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:ConveyanceRecordType">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ViolentPersonRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data for a violent person record.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:PersonRecordType">
				<xsd:sequence>
					<xsd:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded" />
					<!-- xsd:element ref="vq-results-ext:ViolentPersonCriteriaCode" minOccurs="0" maxOccurs="unbounded"/ -->
					<xsd:element ref="vq-results-ext:ViolentPersonCriteriaCodeText" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--V -->
	<xsd:complexType name="VSTCodeType">
		<xsd:annotation>
			<xsd:documentation>A data type for Vehicle Style.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="vq-results-ext:VSTCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--W -->
	<xsd:complexType name="WantedPersonRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data for a OSMS wanted person record.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:PersonRecordType">
				<xsd:sequence>
					<xsd:element ref="j:Subject" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleRegistrantRecordType">
		<xsd:annotation>
			<xsd:documentation>A data type to structure data for a OSMS wanted person record.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="vq-results-ext:PersonRecordType">
				<xsd:sequence>
					<xsd:element ref="j:Subject" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ***********Simple Types************* -->
	<!--**************************************** -->
	<!--**************************************** -->
	<!--**************************************** -->
	<!-- L -->
	<xsd:simpleType name="LITCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for License Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="0B">
				<xsd:annotation>
					<xsd:documentation>OMNIBUSOMNIBUS MUST APPEAR ON THE PLATE.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="0R">
				<xsd:annotation>
					<xsd:documentation>ORGANIZATION INCLUDES GIRL SCOUTS,KIWANIS,KNIGHTS OF COLUMBUS,LADIES AUXILIARY AND MASONS
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AM">
				<xsd:annotation>
					<xsd:documentation>AMBULANCE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AP">
				<xsd:annotation>
					<xsd:documentation>APPORTIONED THE WORD APPORTIONED MUST APPEAR ON THE PLATE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AQ">
				<xsd:annotation>
					<xsd:documentation>ANTIQUE INCLUDES CLASSIC,HISTORIC,STREETROD,PIONEER,HORSELESS CARRIAGE,VINTAGE OR COLLECTOR SERIES
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AR">
				<xsd:annotation>
					<xsd:documentation>AMATEUR RADIO OR CITIZEN'S BAND RADIO OPERATOR ALSO CALLED HAMRADIO OPERATOR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AT">
				<xsd:annotation>
					<xsd:documentation>ALL-TERRAIN VEHICLES IN INSTANCES WHERE A LICENSE PLATE HAS BEEN ISSUED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BU">
				<xsd:annotation>
					<xsd:documentation>BUS CHURCH SCOUTING FRANCHISE, SCHOOL,PUBLIC/PRIVATE CARRIER, ETC.SEE SCHOOL VEHICLE FOR SCHOOL BUS
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C0">
				<xsd:annotation>
					<xsd:documentation>COMMERCIAL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CC">
				<xsd:annotation>
					<xsd:documentation>CONSULAR CORPS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CI">
				<xsd:annotation>
					<xsd:documentation>CITY-OWNED OR MUNICIPAL VEHICLE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CL">
				<xsd:annotation>
					<xsd:documentation>COLLEGIATE INCLUDES COLLEGES AND UNIVERSITIES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CM">
				<xsd:annotation>
					<xsd:documentation>COMMEMORATIVE INCLUDES BICENTENNIALS, CENTENNIALS,PEARL HARBORSURVIVOR AND STATEHOOD ANNIVERSARIES
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CN">
				<xsd:annotation>
					<xsd:documentation>CONSERVATION TO INCLUDE HIGHWAY BEAUTIFICATION,SOIL CONSERVATION WILD LIFE-WILDLIFE INCLUDEDS BIRDS AND
						WATERFOWL
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CU">
				<xsd:annotation>
					<xsd:documentation>COUNTY-OWNED VEHICLE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DA">
				<xsd:annotation>
					<xsd:documentation>DRIVE-AWAY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DB">
				<xsd:annotation>
					<xsd:documentation>DUNE BUGGY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DD">
				<xsd:annotation>
					<xsd:documentation>DENTIST</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DL">
				<xsd:annotation>
					<xsd:documentation>DEALER DOES NOT APPLY TO MOTORCYCLE DEALER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DP">
				<xsd:annotation>
					<xsd:documentation>DIPLOMATIC INCLUDES DIPLOMAT AND DIPLOMATIC STAFF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DU">
				<xsd:annotation>
					<xsd:documentation>DUPLICATE,REISSUE,OR REPLACEMENT ONLY IF THIS IS SO INDICATED ON THE PLATE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DV">
				<xsd:annotation>
					<xsd:documentation>DISABLED VETERAN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DX">
				<xsd:annotation>
					<xsd:documentation>DISABLED PERSON ENTITLES PERSON TO CERTAIN PARKING PRIVLIGES ALSO SEE HANDICAPPED PERSON
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EX">
				<xsd:annotation>
					<xsd:documentation>EXEMPT ALL TYPES OF VEHICLES CAN DISPLAY AND EXEMPT PLATE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FD">
				<xsd:annotation>
					<xsd:documentation>FIRE DEPARTMENT FOR VOLUNTEER FIRE DEPT. AND PRIVATELY OPERATED FIRE DEPT. SEE CITY-OWNED FOR CITY FIRE
						DEPT PLATES
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FG">
				<xsd:annotation>
					<xsd:documentation>FOREIGN GOVERNMENT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FM">
				<xsd:annotation>
					<xsd:documentation>FARM VEHICLE INCLUDES FARM AND AGRICULTURE PLATES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HI">
				<xsd:annotation>
					<xsd:documentation>HEARING IMPAIRED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IP">
				<xsd:annotation>
					<xsd:documentation>INTERNATIONAL PLATE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IT">
				<xsd:annotation>
					<xsd:documentation>IN-TRANSIT TYPE OF TEMPORARY PLATE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="JJ">
				<xsd:annotation>
					<xsd:documentation>JUDGE OR JUSTICE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LE">
				<xsd:annotation>
					<xsd:documentation>LEGISLATIVE,U.S.MEMBER OF U.S. CONGRESS.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LF">
				<xsd:annotation>
					<xsd:documentation>LAW ENFORCEMENT POLICE SEPARTMENT,STATE POLICE, SHERIFF ETC</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LS">
				<xsd:annotation>
					<xsd:documentation>LEGISLATIVE, STATE SENATOR,REPRESENTATIVE,ASSEMBLY-MAN, DELEGATE, ETC</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MC">
				<xsd:annotation>
					<xsd:documentation>MOTORCYCLE MOTORIZED BIKES AND MOTOR SCOOTERS ARE REGISTERED AS MOTORCYCLES IN SOME STATES
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MD">
				<xsd:annotation>
					<xsd:documentation>MOTORCYCLE DEALER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MF">
				<xsd:annotation>
					<xsd:documentation>MANUFACTURER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ML">
				<xsd:annotation>
					<xsd:documentation>MILITARY VEHICLE, CANADIAN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MP">
				<xsd:annotation>
					<xsd:documentation>MOPED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MR">
				<xsd:annotation>
					<xsd:documentation>ARMED FORCES RESERVIST PERSONALLY OWNED VEHICLE PLATES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MV">
				<xsd:annotation>
					<xsd:documentation>MILITARY VEHICLE, U. S.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MY">
				<xsd:annotation>
					<xsd:documentation>MILITARY ANY TYPE OF MILITARY AIRCRAFT REGARDLESS OF DESIGN ORPRIMARY USE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NG">
				<xsd:annotation>
					<xsd:documentation>NATIONAL GUARD MEMBER PERSONALLY OWNED VEHICLE PLATES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NP">
				<xsd:annotation>
					<xsd:documentation>CIVILIAN, NONPASSENGER INCLUDES ALL CIVILIAN AIRCRAFT DESIGNEDAND OR USED FOR PURPOSE OTHER THAN
						TRANSPORTING PASSENGERS
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PC">
				<xsd:annotation>
					<xsd:documentation>REGULAR PASSENGER AUTOMOBILE PLATES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PE">
				<xsd:annotation>
					<xsd:documentation>PERSONALIZED/CUSTOMIZED ALL TYPES OF VEHICLES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PF">
				<xsd:annotation>
					<xsd:documentation>PROFESSIONS INCLUDED ARCHITECTS,CHIROPRACTORS,EDUCATORS, ENGINEERS,NURSES,VISITING NURSES DO NOT USE FOR
						DENTIST,JUFGES,LAW ENFORCEMENT PHARMACIST AND PHYSICIAN
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PH">
				<xsd:annotation>
					<xsd:documentation>DOCTOR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PP">
				<xsd:annotation>
					<xsd:documentation>CIVILIAN,PASSENGER INCLUDES ALL CIVILIAN AIRCRAFT DESIGNED ANDOR USED PRIMARILY FOR TRANSPORTING
						PASSENGERS WHETHER COMMERCIALLY OR PRIVATELY OPERATED
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PR">
				<xsd:annotation>
					<xsd:documentation>PRESS INCLUDES NEWS MEDIA/TELEVISION AND NEWS PHOTOGREAPHERS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PS">
				<xsd:annotation>
					<xsd:documentation>PROFESSIONAL SPORTS TEAM</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PX">
				<xsd:annotation>
					<xsd:documentation>PHARMACIST</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RE">
				<xsd:annotation>
					<xsd:documentation>RECIPROCAL OR RECIPROCITY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RV">
				<xsd:annotation>
					<xsd:documentation>RENTED VEHICLE OR TRAILER INCLUDES LIVERY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SC">
				<xsd:annotation>
					<xsd:documentation>SPECIAL PURPOSE COMMERCIAL VEHICLE STREET CLEANERS,WELDING TRUCKS,ETC</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SN">
				<xsd:annotation>
					<xsd:documentation>SNOWMOLILE IN INSTANCES WHERE A LICENCE PLATE HAS BEEN ISSUED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ST">
				<xsd:annotation>
					<xsd:documentation>STATE-OWNED VEHICLE INCLUDED HIGHWAY DEPARTMENT, DEPARTMENT OFPUBLIC SAFETY,ETC</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SV">
				<xsd:annotation>
					<xsd:documentation>SCHOOL VEHICLE INCLUDES SCHOOL BUS AND DRIVER EDUCATION CAR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TK">
				<xsd:annotation>
					<xsd:documentation>TRUCK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TL">
				<xsd:annotation>
					<xsd:documentation>TRAILER;BOAT,CAMPER,CARGO,TRAVEL,HOUSE,MOBILE HOME,SEMI, UTILITY ETC.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TM">
				<xsd:annotation>
					<xsd:documentation>TEMPORARY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TP">
				<xsd:annotation>
					<xsd:documentation>TRANSPORTER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TR">
				<xsd:annotation>
					<xsd:documentation>SEMITRUCK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TX">
				<xsd:annotation>
					<xsd:documentation>CAB</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="US">
				<xsd:annotation>
					<xsd:documentation>U.S. GOVERNMENT VEHICLES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VF">
				<xsd:annotation>
					<xsd:documentation>MEDAL OF HONOR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ZZ">
				<xsd:annotation>
					<xsd:documentation>ALL-TERRAIN VEHICLES AND SNOWMOBILES FOR ALL-TERRAIN VEHICLES AND SNOWMOBILES DISPLAYING A REGISTRATION
						NUMBER
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VSTCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for Vehicle Style.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="0P">
				<xsd:annotation>
					<xsd:documentation>OPEN BODY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1J">
				<xsd:annotation>
					<xsd:documentation>SINGLE-ENGINE, JET</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1P">
				<xsd:annotation>
					<xsd:documentation>SINGLE-ENGINE, PROPELLER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2D">
				<xsd:annotation>
					<xsd:documentation>2 DOOR SEDAN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2J">
				<xsd:annotation>
					<xsd:documentation>TWIN-ENGINE, JET</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2P">
				<xsd:annotation>
					<xsd:documentation>TWIN-ENGINE, PROPELLER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3D">
				<xsd:annotation>
					<xsd:documentation>3-DOOR SOME TRUCK MAKES WILL HAVE TWO DOORS ON THE DRIVERS SIDE AND ONE ON THE PASSENGER SIDE. OTHER
						MAKES WILL HAVE ONE DOOR ON THE PASSENGER SIDE
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3J">
				<xsd:annotation>
					<xsd:documentation>TRI-ENGINE, JET</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3P">
				<xsd:annotation>
					<xsd:documentation>TRI-ENGINE, PROPELLER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4D">
				<xsd:annotation>
					<xsd:documentation>4 DOOR SEDAN; TRUCK/PICK-UP 4 DOOR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AC">
				<xsd:annotation>
					<xsd:documentation>AUTO CARRIER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AD">
				<xsd:annotation>
					<xsd:documentation>ASPHALT DISTRIBUTOR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AE">
				<xsd:annotation>
					<xsd:documentation>AERIAL PLATFORM</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AI">
				<xsd:annotation>
					<xsd:documentation>AIR COMPRESSOR SHOULD BE ENTERED AS AS A PART IF NOT PERMANENTLY MOUNTED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AM">
				<xsd:annotation>
					<xsd:documentation>AMBULANCE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AR">
				<xsd:annotation>
					<xsd:documentation>ARMORED TRUCK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BA">
				<xsd:annotation>
					<xsd:documentation>BULK AGRICULTURE BULK TRANSPORT OF RAW VEGETABLES.MAY HAVE LIVE FLOOR,BELT OR TIPHEAD
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BC">
				<xsd:annotation>
					<xsd:documentation>BRUSH CHIPPER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BD">
				<xsd:annotation>
					<xsd:documentation>BULLDOZER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BG">
				<xsd:annotation>
					<xsd:documentation>BUGGY,CONCRETE ALSO KNOWN AS POWER CARTT.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BH">
				<xsd:annotation>
					<xsd:documentation>BACKHOE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BK">
				<xsd:annotation>
					<xsd:documentation>BACKHOE/LOADER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BP">
				<xsd:annotation>
					<xsd:documentation>BLIMP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BR">
				<xsd:annotation>
					<xsd:documentation>BEVERAGE TRUCK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BT">
				<xsd:annotation>
					<xsd:documentation>BOAT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BU">
				<xsd:annotation>
					<xsd:documentation>BUS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BZ">
				<xsd:annotation>
					<xsd:documentation>BI0-HAZZARD VEHICLE; (DEC0NTAMINATI0N ETC.) FIRST RESP0NDER VEHICLES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C0">
				<xsd:annotation>
					<xsd:documentation>COMBINE ALSO KNOWN AS GRAIN HARVESTERR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CB">
				<xsd:annotation>
					<xsd:documentation>CHASSIS AND CAB</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CE">
				<xsd:annotation>
					<xsd:documentation>UNPUBLISHED STYLE OF CONSTRUCTION EQUIPMENT EXPLAIN STYLE IN THE MIS FIELD</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CG">
				<xsd:annotation>
					<xsd:documentation>CONVERTER GEAR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CI">
				<xsd:annotation>
					<xsd:documentation>CORN PICKER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CK">
				<xsd:annotation>
					<xsd:documentation>COTTON PICKER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CM">
				<xsd:annotation>
					<xsd:documentation>CONCRETE MIXER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CR">
				<xsd:annotation>
					<xsd:documentation>CRANE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CS">
				<xsd:annotation>
					<xsd:documentation>C0NSTRUCTI0N SIGNAL; WARNING MESSAGE LIGHTS, AND MESSAGE B0ARDUSUALLY SEEN AT 0R AR0UND R0ADWAY
						C0NSTRUCTI0N SITES
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CT">
				<xsd:annotation>
					<xsd:documentation>CAMPING ALSO KNOWN AS CAMPER OR TRAVEL TRAILER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CV">
				<xsd:annotation>
					<xsd:documentation>CONVERTIBLE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CZ">
				<xsd:annotation>
					<xsd:documentation>COTTON STRIPPER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DE">
				<xsd:annotation>
					<xsd:documentation>DETASSELING EQUIPMENT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DI">
				<xsd:annotation>
					<xsd:documentation>POTATO DIGGER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DN">
				<xsd:annotation>
					<xsd:documentation>DRONE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DP">
				<xsd:annotation>
					<xsd:documentation>DUMP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DR">
				<xsd:annotation>
					<xsd:documentation>DRILL, ROCK ALSO KNOWN AS DRIFTER DRILL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DS">
				<xsd:annotation>
					<xsd:documentation>TRACTOR TRUCK, DIESEL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DT">
				<xsd:annotation>
					<xsd:documentation>DUMP TRAILER; TRAILER BED THAT TILTS 0R RISES T0 RELEASE 0R REMOVE ITS CARGO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DY">
				<xsd:annotation>
					<xsd:documentation>AUXILIARY DOLLY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EB">
				<xsd:annotation>
					<xsd:documentation>ENCLOSED BODY, REMOVABLE ENCLOSURE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EN">
				<xsd:annotation>
					<xsd:documentation>ENCLOSED BODY, NON REMOVEABLE ENCLOSURE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EX">
				<xsd:annotation>
					<xsd:documentation>EXCAVATOR ALSO KNOWN AS DIGGERR.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FB">
				<xsd:annotation>
					<xsd:documentation>FLATBED OR PLATFORM</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FC">
				<xsd:annotation>
					<xsd:documentation>FLOTATION CHASSIS ALSO KNOWN AS IMPLEMENT CARRIER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FD">
				<xsd:annotation>
					<xsd:documentation>FIELD CHOPPER ALSO KNOWN AS SILEAGE CUTTER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FL">
				<xsd:annotation>
					<xsd:documentation>FORK LIFT ALSO KNOWN AS LIFT TRUCKK.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FR">
				<xsd:annotation>
					<xsd:documentation>FLATRACK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FS">
				<xsd:annotation>
					<xsd:documentation>FERTILIZER SPREADER ENTER AS PART IF NOT PERMANENTLY MOUNTED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FT">
				<xsd:annotation>
					<xsd:documentation>FIRE TRUCK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GA">
				<xsd:annotation>
					<xsd:documentation>WAGON ALSO KNOWN AS GONDOLA, CART OR CONTAINER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GD">
				<xsd:annotation>
					<xsd:documentation>GRADER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GE">
				<xsd:annotation>
					<xsd:documentation>GENERATOR ENTER AS PART IF NOT PERMANENTLY MOUNTED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GG">
				<xsd:annotation>
					<xsd:documentation>GARBAGE OR REFUSE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GN">
				<xsd:annotation>
					<xsd:documentation>GRAIN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GR">
				<xsd:annotation>
					<xsd:documentation>GLASS RACK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="H0">
				<xsd:annotation>
					<xsd:documentation>HOPPER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HA">
				<xsd:annotation>
					<xsd:documentation>HOT AIR BALLON</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HD">
				<xsd:annotation>
					<xsd:documentation>HYDRAULIC DUMP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HE">
				<xsd:annotation>
					<xsd:documentation>HORSE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HL">
				<xsd:annotation>
					<xsd:documentation>HAY BALE LOADER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HM">
				<xsd:annotation>
					<xsd:documentation>HAMMER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HP">
				<xsd:annotation>
					<xsd:documentation>HELICOPTER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HR">
				<xsd:annotation>
					<xsd:documentation>HEARSE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HS">
				<xsd:annotation>
					<xsd:documentation>HOUSE MOBILE HOME</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HV">
				<xsd:annotation>
					<xsd:documentation>HARVESTER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HY">
				<xsd:annotation>
					<xsd:documentation>HAY BALER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LB">
				<xsd:annotation>
					<xsd:documentation>LOWBOY OR LOWBED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LD">
				<xsd:annotation>
					<xsd:documentation>LOADER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LF">
				<xsd:annotation>
					<xsd:documentation>LIFT BOOM (PERSONNEL)ALSO KNOWN AS AN ORCHARD OR CHERRYPICKER.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LG">
				<xsd:annotation>
					<xsd:documentation>LOG USE TO TRANSPORT LOGS, POLES, OR PIPE. MAY BE SELF LOADINGOR MAY HAVE A GRAPPLING ARM OR JAMMER
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LK">
				<xsd:annotation>
					<xsd:documentation>LOG SKIDDER ALSO KNOWN AS GRAPPLER SKIDDER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LL">
				<xsd:annotation>
					<xsd:documentation>CARRY-ALL RUGGED TRAILE AND PLEASURE VEH'S (E.G., BLAZAER, BRONCO, JEEP, ETC)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LM">
				<xsd:annotation>
					<xsd:documentation>LIMOUSINE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LP">
				<xsd:annotation>
					<xsd:documentation>POLE ALSO KNOWN AS LOGGING TRAILER USED TO TRANSPORT LOGS AND POLES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LS">
				<xsd:annotation>
					<xsd:documentation>LIVESTOCK RACK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LT">
				<xsd:annotation>
					<xsd:documentation>LIGHT TOWER; TYPICALLY USED AROUND OR NEAR CONSTRUCTION SITES AND POWERED BY A GENERATOR
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LV">
				<xsd:annotation>
					<xsd:documentation>LAW ENF0RCEMENT VEHICLE (P0LICE,SHERIFF,ETC.) FIRST RESP0NDER VEHICLE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LW">
				<xsd:annotation>
					<xsd:documentation>LUNCH WAGON</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="M0">
				<xsd:annotation>
					<xsd:documentation>MOWER, RIDING OR GARDEN TRACTOR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MB">
				<xsd:annotation>
					<xsd:documentation>MOTORBIKE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MC">
				<xsd:annotation>
					<xsd:documentation>MOTORCYCLE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MD">
				<xsd:annotation>
					<xsd:documentation>MOPED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MF">
				<xsd:annotation>
					<xsd:documentation>UNPUBLISHED STYLE OF FARM EQUIPMENT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MH">
				<xsd:annotation>
					<xsd:documentation>MOTORIZED HOME</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MJ">
				<xsd:annotation>
					<xsd:documentation>MULTI-ENGINE, JET</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MK">
				<xsd:annotation>
					<xsd:documentation>MINIBIKE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MP">
				<xsd:annotation>
					<xsd:documentation>MULTI-ENGINE, PROPELLER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MR">
				<xsd:annotation>
					<xsd:documentation>MOWER-CONDITIONER FOR GRASS OR HAY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MS">
				<xsd:annotation>
					<xsd:documentation>MOTORSCOOTER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MT">
				<xsd:annotation>
					<xsd:documentation>MOTORCYCLE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MV">
				<xsd:annotation>
					<xsd:documentation>MULTI-WHEELED VEHICLE MANUFACTURED FOR OFF-ROAD USEBUT LICENSED AS STREET LEGAL, EG. 3 WHEEL MOTORCYCLE
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MY">
				<xsd:annotation>
					<xsd:documentation>MINICYCLE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PK">
				<xsd:annotation>
					<xsd:documentation>PICKUP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PL">
				<xsd:annotation>
					<xsd:documentation>PALLET</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PM">
				<xsd:annotation>
					<xsd:documentation>PICKUP WITH MOUNTED CAMPER ENTER AS A PART OR ADD-ON PART</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PR">
				<xsd:annotation>
					<xsd:documentation>PRIME MOVER ALSO KNOWN AS ROAD PACKERR.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PT">
				<xsd:annotation>
					<xsd:documentation>PASSENGER OR PEOPLE TRAM/CARRIER (USUALLY USED TO MOVE GROUPS OF PEOPLE OR PATRONS) AS IN AMUSEMENT PARK
						PARKING LOTS
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PV">
				<xsd:annotation>
					<xsd:documentation>PAVER ALSO KNOWN AS FINISHER OR ROAD SURFACER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="R0">
				<xsd:annotation>
					<xsd:documentation>ROLLER ALSO KNOWN AS COMPACTOR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RF">
				<xsd:annotation>
					<xsd:documentation>REFRIGERATED VAN ALSO KNOWN AS REEFER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S0">
				<xsd:annotation>
					<xsd:documentation>SNOWBLOWER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SA">
				<xsd:annotation>
					<xsd:documentation>SAILPLANE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SB">
				<xsd:annotation>
					<xsd:documentation>SMOKER, BAR-B-Q, ROTISSERIE, ETC TYP COOKING DEVICE. OFTEN USED FOR COOKING OUTDOORS, USUALLY IN TRAILER
						FORM USED FOR LARGE GATHERINGS OR COMMERCIAL USE. CATERING ETC.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SC">
				<xsd:annotation>
					<xsd:documentation>SCRAPER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SD">
				<xsd:annotation>
					<xsd:documentation>SEDAN USE THIS CODE ONLY IF THE NUMBER OF DOORS IS UNKNOWN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SE">
				<xsd:annotation>
					<xsd:documentation>SEMI USE ONLY WHEN THE SPECIFIC BODY STYLE OF THE SEMI-TRAILERIS UNKNOWN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SG">
				<xsd:annotation>
					<xsd:documentation>STUMP GRINDER; PRIMARILY USED T0 REM0VE REMAINDER 0F TREES 0R EXTREMELY HEAVY ROOTED SHRUBBERY OR BRUSH
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SH">
				<xsd:annotation>
					<xsd:documentation>SHOVEL ALSO KNOWN AS A POWER OR STEAMSHOVEL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SI">
				<xsd:annotation>
					<xsd:documentation>STRIPER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SM">
				<xsd:annotation>
					<xsd:documentation>SNOWMOBILE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SQ">
				<xsd:annotation>
					<xsd:documentation>SEARCH &amp; RESCUE VEHICLE; FIRST RESP0NDER VEHICLES</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SS">
				<xsd:annotation>
					<xsd:documentation>SWEEPER ALSO KNOWN AS POWER BROOM USED TO CLEAN STREETS AND PARKING LOTS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ST">
				<xsd:annotation>
					<xsd:documentation>STAKE OR RACK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SW">
				<xsd:annotation>
					<xsd:documentation>STATION WAGON</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SY">
				<xsd:annotation>
					<xsd:documentation>SPRAYER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SZ">
				<xsd:annotation>
					<xsd:documentation>SAW USED IN CUTTING ASPHALT,CONCRETE OR MASONRY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TA">
				<xsd:annotation>
					<xsd:documentation>TREE HARVESTER ALSO KNOWN AS A FELLER-BUNCHER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TC">
				<xsd:annotation>
					<xsd:documentation>TRACTOR, TRACK TYPE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TD">
				<xsd:annotation>
					<xsd:documentation>AUTO TOW DOLLY TWO=WHEELED TOWING EQUIPMENT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TE">
				<xsd:annotation>
					<xsd:documentation>TENT TRAILER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TF">
				<xsd:annotation>
					<xsd:documentation>TRACTOR, WHEEL TYPE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TH">
				<xsd:annotation>
					<xsd:documentation>TRENCHER ALSO KNOWN AS A DITCHER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TN">
				<xsd:annotation>
					<xsd:documentation>TANKER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TR">
				<xsd:annotation>
					<xsd:documentation>TRACTOR TRUCK, GASOLINE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TT">
				<xsd:annotation>
					<xsd:documentation>TOW TRUCK/WRECKER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UL">
				<xsd:annotation>
					<xsd:documentation>ULTRALIGHT (INCLUDING HANG GLIDERS)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UT">
				<xsd:annotation>
					<xsd:documentation>UTILITY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UV">
				<xsd:annotation>
					<xsd:documentation>UTILITY VEHICLE; USUALLY USED FOR FARM &amp; GARDEN, OUTDOOR RECREATION OR INDUSTRIAL USE. CONTAINS A
						FLAT OR CONVERTABLE BED. SOME MODELS CONTAIN A DUMPING OR TILTING MECHANISM 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VA">
				<xsd:annotation>
					<xsd:documentation>VACUUM CLEANER HEAVY-DUTY RIDE-ON TYPE ENTER AS PART IF NOT PERMANENTLY MOUNTED</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VC">
				<xsd:annotation>
					<xsd:documentation>VAN CAMPER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VN">
				<xsd:annotation>
					<xsd:documentation>VAN INCLUDES OPEN OR CLOSED TOP BOX TRAILERS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VT">
				<xsd:annotation>
					<xsd:documentation>VANETTE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WD">
				<xsd:annotation>
					<xsd:documentation>WELL DRILLER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WE">
				<xsd:annotation>
					<xsd:documentation>WELDER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WN">
				<xsd:annotation>
					<xsd:documentation>WINDROWER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WS">
				<xsd:annotation>
					<xsd:documentation>WOOD SPLITTER</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--OSMS Element Declarations -->
	<!--**************************************** -->
	<!--**************************************** -->
	<!--**************************************** -->
	<!-- A -->
	<xsd:element name="ActivityAugmentation" type="vq-results-ext:ActivityAugmentationType" substitutionGroup="nc:ActivityAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>Additional information about an activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AdditionalOffenseIndictator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if an additional offense is being entered; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressCategoryCodeText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A description of an address category.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- Truncated for scr:PersonAddressAssociation/nc:AssociationDateRange/nc:EndDate <xsd:element name="AddressEndDate" type="nc:DateType"> 
		<xsd:annotation> <xsd:documentation>A date ending the term in which an address was used.</xsd:documentation> </xsd:annotation> </xsd:element> -->
	<!-- Truncated for scr:PersonAddressAssociation/nc:AssociationDateRange/nc:StartDate <xsd:element name="AddressStartDate" type="nc:DateType"> 
		<xsd:annotation> <xsd:documentation>A date beginning the term in which an address was used.</xsd:documentation> </xsd:annotation> 
		</xsd:element> -->
	<xsd:element name="AgencyNotificationIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if notification should be sent to the investigative agency; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- B -->
	<xsd:element name="BenefitsActivity" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Data about benefits activity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyanceColorPrimaryCodeText" type="nc:TextType" substitutionGroup="nc:ItemColor">
		<xsd:annotation>
			<xsd:documentation>A single, upper-most, front-most, or majority color of a vehicle.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyanceColorSecondaryCodeText" type="nc:TextType" substitutionGroup="nc:ItemColor">
		<xsd:annotation>
			<xsd:documentation>A lower-most or rear-most color of a two-tone vehicle or a lesser color of a multi-colored vehicle.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyancePartBrandCodeText" type="nc:TextType" substitutionGroup="j:ConveyancePartBrand">
		<xsd:annotation>
			<xsd:documentation>A brand name or manufacturer name of a conveyance part.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConveyanceRegistrationPlateCategoryCode" type="vq-results-ext:LITCodeType" substitutionGroup="j:ConveyanceRegistrationPlateCategory">
		<xsd:annotation>
			<xsd:documentation>A kind of registration plate or license plate of a conveyance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FraudulentDriverLicense" type="j:DriverLicenseType">
		<xsd:annotation>
			<xsd:documentation>A fraudulent driver license.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FraudulentDriverLicenseIdentification" type="j:DriverLicenseType">
		<xsd:annotation>
			<xsd:documentation>A Fradulent license possessed by a person granting driving privileges.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FraudulentPerson" type="nc:PersonType">
		<xsd:annotation>
			<xsd:documentation>Fradulent data about a person</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FraudulentRecordIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>An boolean value to indicate if the records is fraudulent information.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- G -->
	<xsd:element name="ImageIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the requesting agency wishes to have images returned; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImagePerson" type="nc:PersonType">
		<xsd:annotation>
			<xsd:documentation>Data about a person in an image.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ImageRecord" type="vq-results-ext:ImageRecordType" substitutionGroup="vq-results-ext:Record">
		<xsd:annotation>
			<xsd:documentation>Data about an image record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InvestigativeInterest" type="vq-results-ext:InvestigativeInterestType">
		<xsd:annotation>
			<xsd:documentation>Data pertaining to an investigative interest.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- J -->
	<!-- K -->
	<xsd:element name="MessageDateTime" type="niem-xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Data pertaining to a given OSMS message.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageIdentification" type="nc:IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A data type to represent the user provided message id.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageInterfacingOrganization" type="vq-results-ext:MessageInterfacingOrganizationType"
		abstract="true">
		<xsd:annotation>
			<xsd:documentation>A data type to represent the user provided message id.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageOrigin" type="vq-results-ext:MessageInterfacingOrganizationType" substitutionGroup="vq-results-ext:MessageInterfacingOrganization">
		<xsd:annotation>
			<xsd:documentation>A data type to represent the user provided message id.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageDestination" type="vq-results-ext:MessageInterfacingOrganizationType" substitutionGroup="vq-results-ext:MessageInterfacingOrganization">
		<xsd:annotation>
			<xsd:documentation>A data type to represent the user provided message id.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageTransaction" abstract="true">
		<xsd:annotation>
			<xsd:documentation>An abstract data type for message transaction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageTransactionText" type="nc:TextType" substitutionGroup="vq-results-ext:MessageTransaction">
		<xsd:annotation>
			<xsd:documentation>A data type for message transaction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MissingPersonRecord" type="vq-results-ext:MissingPersonRecordType" substitutionGroup="vq-results-ext:Record">
		<xsd:annotation>
			<xsd:documentation>Data pertaining to a OSMS missing person record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- N -->
	<xsd:element name="NewsletterCount" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A count of newsletters.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyOriginatingAgencyIndicator" type="niem-xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>True if the original agency wishes to be notified if their record is hit on; false otherwise.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- P -->
	<xsd:element name="PersonAddressCategory" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A data type for an address category</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PublicDisseminationDateText" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A description of if and when a submitting agency wishes to have the record published.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- R -->
	<xsd:element name="Record" type="vq-results-ext:RecordType" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Abstract data pertaining to an OSMS record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordExpirationDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date when OSMS will automatically remove the record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordValidationDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date a document was validated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordPurgeDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date when the user selects for the record to be removed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordRemovalReasonText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>A data element that holds the reason data is being removed from a system.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RecordStatus" type="vq-results-ext:RecordStatusType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A status of an OSMS record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusAugmentation" type="vq-results-ext:StatusAugmentationType" substitutionGroup="nc:StatusAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>Additional information about a status.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusIssuerOrganization" type="nc:OrganizationType">
		<xsd:annotation>
			<xsd:documentation>An organization which assigns a status.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- V -->
	<xsd:element name="StateRegistrationStatusFieldName" type="nc:TextType" substitutionGroup="nc:StatusAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The field name of of a state registration status field.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StateRegistrationStatusFieldValue" type="nc:TextType" substitutionGroup="nc:StatusAugmentationPoint">
		<xsd:annotation>
			<xsd:documentation>The value associated with a state registration status field.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleRecord" type="vq-results-ext:VehicleRecordType" substitutionGroup="vq-results-ext:Record">
		<xsd:annotation>
			<xsd:documentation>data pertaining to a OSMS vehicle record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleMakeCodeText" type="nc:TextType" substitutionGroup="nc:VehicleMake">
		<xsd:annotation>
			<xsd:documentation>A manufacturer of a vehicle.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleModelCodeText" type="nc:TextType" substitutionGroup="nc:VehicleModel">
		<xsd:annotation>
			<xsd:documentation>A specific design or class of vehicle made by a manufacturer.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleRegistrationImageAssociation" type="j:ItemRegistrationAssociationType">
		<xsd:annotation>
			<xsd:documentation>An associaiton between a vehicle and registration that are the subject of a picture.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleStyleCode" type="vq-results-ext:VSTCodeType" substitutionGroup="nc:ItemStyle">
		<xsd:annotation>
			<xsd:documentation>A style of a vehicle.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VesselColorPrimaryCodeText" type="nc:TextType" substitutionGroup="nc:ItemColor">
		<xsd:annotation>
			<xsd:documentation>A color of the majority of a vessel.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolentPersonCriteriaCodeText" type="nc:TextType">
		<xsd:annotation>
			<xsd:documentation>Text to describe the violent person criteria code.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ViolentPersonRecord" type="vq-results-ext:ViolentPersonRecordType" substitutionGroup="vq-results-ext:Record">
		<xsd:annotation>
			<xsd:documentation>Data pertaining to a violent person record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- W -->
	<xsd:element name="WantedPersonRecord" type="vq-results-ext:WantedPersonRecordType" substitutionGroup="vq-results-ext:Record">
		<xsd:annotation>
			<xsd:documentation>data pertaining to a OSMS wanted person record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleRegistrantRecord" type="vq-results-ext:VehicleRegistrantRecordType" substitutionGroup="vq-results-ext:Record">
		<xsd:annotation>
			<xsd:documentation>data pertaining to a OSMS vehicle registrant record.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>