NLETS_Schema/RNR/xsd/archive/JXDM 3.0.2/3.0.2/proxy/ansi_d20/1.0/ansi_d20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.it.ojp.gov/jxdm/3.0.2/proxy/ansi_d20/1.0" xmlns:ansi_d20="http://www.it.ojp.gov/jxdm/ansi_d20/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:j="http://www.it.ojp.gov/jxdm/3.0.2" xmlns:i="http://www.it.ojp.gov/jxdm/appinfo/1">
  <xsd:annotation>
    <xsd:documentation>Proxy types that carry dictionary metadata and extend the ANSI D20 codes sets.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/3.0.2" schemaLocation="../../../jxdm.xsd">
    <xsd:annotation>
      <xsd:documentation>The Global Justice XML Data Model.</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/ansi_d20/1.0" schemaLocation="../../../../ansi_d20/1.0/ansi_d20.xsd">
    <xsd:annotation>
      <xsd:documentation>Motor vehicle administration codes from ANSI D20, the Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators.</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/appinfo/1" schemaLocation="../../../../appinfo/1/appinfo.xsd">
    <xsd:annotation>
      <xsd:documentation>The appinfo for the schemas</xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:complexType name="BrandCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates information about a brand applied to a vehicle title or odometer.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ansi_d20:BrandCodeType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="BrandVehicleDispositionCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates vehicle dispositions.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ansi_d20:BrandVehicleDispositionCodeType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VehicleFuelTypeCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates types of fuel or motive power used to propel a vehicle.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ansi_d20:VehicleFuelTypeCodeType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VehicleTitleDocumentTypeCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates types of an individual title document.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ansi_d20:VehicleTitleDocumentTypeCodeType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VehicleTransmissionTypeCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates types of transmission units in a vehicle.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ansi_d20:VehicleTransmissionTypeCodeType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VehicleUseCodeType">
    <xsd:annotation>
      <xsd:documentation>A proxy code list that enumerates ways in which a vehicle is used.</xsd:documentation>
      <xsd:appinfo>
        <i:info>
          <i:base i:namespace="http://www.it.ojp.gov/jxdm/3.0.2" i:name="SuperType"/>
        </i:info>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="ansi_d20:VehicleUseCodeType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
