NLETS_Schema/SWR/xsd/common/niem/domains/jxdm/5.0/jxdm.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/5.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:ncic="http://release.niem.gov/niem/codes/fbi_ncic/3.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:ndex="http://release.niem.gov/niem/codes/fbi_ndex/3.0/" xmlns:ucr="http://release.niem.gov/niem/codes/fbi_ucr/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:biom="http://release.niem.gov/niem/domains/biometrics/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:j="http://release.niem.gov/niem/domains/jxdm/5.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../codes/fbi_ncic/3.0/fbi_ncic.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ncic/3.0/"/>
  <xs:import schemaLocation="../../../codes/fbi_ndex/3.0/fbi_ndex.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ndex/3.0/"/>
  <xs:import schemaLocation="../../../codes/fbi_ucr/3.0/fbi_ucr.xsd" namespace="http://release.niem.gov/niem/codes/fbi_ucr/3.0/"/>
  <xs:import schemaLocation="../../biometrics/3.0/biom.xsd" namespace="http://release.niem.gov/niem/domains/biometrics/3.0/"/>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="ActivityAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an activity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CaseLinkage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ActivityDocumentValidator" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivitySubjectAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a subject.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:Subject" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivityWarrantAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an activity and a warrant.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Activity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Warrant" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Subject" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrestType">
    <xs:annotation>
      <xs:documentation>A data type for the apprehension of a subject by a peace official.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:ArrestAgency" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:SentenceDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseCharge" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseCourt" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseLinkageType">
    <xs:annotation>
      <xs:documentation>A data type for an identifying number for a case submitted by an agency which is known or believed to be related to the case of this activity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:CaseLinkageNumberText" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:OrganizationORIIdentification" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeVictim" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeNCICText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyancePartType">
    <xs:annotation>
      <xs:documentation>A data type for a part or component of a conveyance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType">
        <xs:sequence>
          <xs:element ref="j:ConveyancePartID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ConveyancePartBrand" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ConveyancePartCategory" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ConveyancePartAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceRegistrationStatusType">
    <xs:annotation>
      <xs:documentation>A data type for a state of registration of a conveyance.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:StatusType">
        <xs:sequence>
          <xs:element ref="j:ConveyanceRegistrationStatusAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ConveyanceRegistrationStatusDetail" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ConveyanceRegistrationStatusAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConveyanceRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:ItemRegistrationType">
        <xs:sequence>
          <xs:element ref="nc:Conveyance" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ConveyanceRegistrationDecal" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ConveyanceRegistrationPlateIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ConveyanceRegistrationPlateCategory" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ConveyanceRegistrationStatus" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtOrderType">
    <xs:annotation>
      <xs:documentation>A data type for a direction of a judge not including a judgement, which determines some point or directs some steps in proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtOrderIssuingCourt" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CourtOrderServiceDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtOrderAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtType">
    <xs:annotation>
      <xs:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:CourtName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtSupervisingAgency" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CriminalOrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for an organization that is formed to or intentionally conducts illegal activities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfOrganization" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CriminalOrganizationNCICIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CriminalOrganizationTraitDetails" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CriminalOrganizationAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CriminalTraitDetailsType">
    <xs:annotation>
      <xs:documentation>A data type for criminal characteristics associated with a person or a criminal organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:CriminalTraitDressText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CriminalTraitGraffitiDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CriminalTraitHandSignalText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CriminalTraitTattooDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between a driver license and a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:DriverLicense" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="nc:Person" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseExpirationDate" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseCardIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FirearmType">
    <xs:annotation>
      <xs:documentation>A data type for a weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType">
        <xs:sequence>
          <xs:element ref="j:FirearmMake" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:FirearmCategory" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:FirearmBoreSize" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationRangeType">
    <xs:annotation>
      <xs:documentation>A data type for a range of identifications.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:MaximumRangeIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:MinimumRangeIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImageAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an image.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ImageNCICIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ImageCategory" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncarcerationType">
    <xs:annotation>
      <xs:documentation>A data type for a confinement of a subject as sentenced by a court.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:SupervisionType">
        <xs:sequence>
          <xs:element ref="j:IncarcerationProjectedReleaseDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:IncarcerationAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncidentAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:IncidentArrestCountQuantity" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:IncidentMissingPersonFoundText" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:IncidentRecoveredItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an item.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:ItemLotNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ItemNCICIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:ItemRecoveredValue" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ItemLotIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ItemSerialIdentificationRange" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ItemHazardousMaterialsContainerText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ItemRecoveredAdditionalValue" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ItemRecoveredContrabandValue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ItemPartialLot" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemRegistrationAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an item and its registration information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:ItemRegistration" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:Item" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ItemRegistrationHolder" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ItemRegistrationAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ItemRegistrationType">
    <xs:annotation>
      <xs:documentation>A data type for a registration of a property item with an authority.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JewelryType">
    <xs:annotation>
      <xs:documentation>A data type for an adornment made out of metals, gems, etc. or imitation materials.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ItemType">
        <xs:sequence>
          <xs:element ref="j:JewelryCategory" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MissingPersonType">
    <xs:annotation>
      <xs:documentation>A data type for details of a person whose whereabouts are unknown.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:MissingPersonCircumstance" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:MissingPersonDisappearanceCategory" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:MissingPersonInterestIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:MissingPersonLastSeenDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:MissingPersonLastSeenLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenseArrestAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between an offense and the arrest of a subject alleged to have committed the offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:Offense" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Arrest" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:OffenseArrestAssociationAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenseChargeAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between an offense that occurred and the formal charge that was assigned to it as a result of classifying the offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:Offense" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:Charge" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenseSubjectAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between an offense that was committed and the subject alleged to have committed that offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:Offense" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="j:Subject" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenseSummaryType">
    <xs:annotation>
      <xs:documentation>A data type for a summary of a type of offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:OffenseSummaryArrestQuantity" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:OffenseSummaryAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenseType">
    <xs:annotation>
      <xs:documentation>A data type for an alleged violation of a statute, ordinance, or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:OffenseDesignation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:OffenseCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:JuvenileOffenderIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:OffenseLevel" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:OffenseAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:OrganizationFieldOfficeText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:OrganizationIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:DNACollectedIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:DNACollectionStatus" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonBOPRegisterNumberID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonDentalRecordsAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PhysicalFeatureClassText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonBodyPartsText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonDentalCharacteristicGeneral" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonDentalPhotoModelAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonDentalXRayAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonEmancipationDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonFootPrintAvailableIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonPasswordText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonRegisteredOffenderIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonCautionInformation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonBirthplace" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PersonNameCategoryCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for possible kinds of names.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="provided">
        <xs:annotation>
          <xs:documentation>A name communicated by an individual directly or through documentation being carried; obtained from the source of the record and which is not known to be an alias or aka name.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Indefinite; unsure of this type of name.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nickname">
        <xs:annotation>
          <xs:documentation>A descriptive name added to or replacing the actual name of a person, place, or thing.  A familiar or shortened form of a proper name.  (also street name)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="user id">
        <xs:annotation>
          <xs:documentation>A number or name which is unique to a particular user of a computer or group of computers which share user information.  A user id is not normally used for criminal intent, unless it is being used without authorization.  An operating system uses the user id to represent the user in its data structures, e.g. the owner of a file or process, the person attempting to access a system resource. (also uid, userid)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fka">
        <xs:annotation>
          <xs:documentation>Formerly known as</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aka">
        <xs:annotation>
          <xs:documentation>Also known as, e.g., a stage name</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="alias">
        <xs:annotation>
          <xs:documentation>An assumed or alternate name suspected to be in use for deception; usually involves criminal intent.  A term used in legal proceedings to connect the different names of anyone who has gone by two or more, and whose true name is for any cause doubtful.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="call sign">
        <xs:annotation>
          <xs:documentation>A registered radio identifier used by amateur radio operators; usually a string of alpha-numeric characters.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dba">
        <xs:annotation>
          <xs:documentation>Doing business as</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="handle">
        <xs:annotation>
          <xs:documentation>An electronic pseudonym; intended to conceal the user's true identity.  Commonly used areas include the Internet, chatrooms, networks, bulletin board systems (BBS), and Citizen's Band (CB) radio; sometimes used by radio operators as an alternative to a call sign.  May or may not be used for criminal deception.  (also screen name)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="moniker">
        <xs:annotation>
          <xs:documentation>A nickname specifically used by gang members or criminals to hide real identity for criminal purposes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>None of the other types is appropriate.  (Explain in text field.)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pseudonym">
        <xs:annotation>
          <xs:documentation>A fictitious name, especially a pen name; not normally for criminal purposes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonNameCategoryCodeType">
    <xs:annotation>
      <xs:documentation>A data type for possible kinds of names.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="j:PersonNameCategoryCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProtectionOrderType">
    <xs:annotation>
      <xs:documentation>A data type for a civil order protecting one individual from another.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:CourtOrderType">
        <xs:sequence>
          <xs:element ref="j:ProtectionOrderBradyIndicator" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ProtectionOrderConditionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ProtectionOrderCondition" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ProtectionOrderAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegisteredOffenderOffenseOfRegistrationAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between a registered offender and an offense for which the offender must register.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:RegisteredOffender" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:Offense" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegisteredOffenderType">
    <xs:annotation>
      <xs:documentation>A data type for information about a person who is required to register information with a law enforcement agency due to having been convicted of a certain type of crime.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:RegisteredOffenderDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:RegisteredOffenderEndDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:RegisteredOffenderEntryDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:RegisteredOffenderStartDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:RegisteredOffenderStatusIndicator" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecuritiesAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a securities item.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:SecuritiesRansomMoney" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentenceType">
    <xs:annotation>
      <xs:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SentenceExpirationDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SentenceIssuerEntity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SubjectExtraditionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:SubjectInvolvementCriminalOrganization" minOccurs="0" maxOccurs="2"/>
          <xs:element ref="j:Involvement" minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectVictimAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between a subject and a victim.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:Subject" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:Victim" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:VictimToSubjectRelationship" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisedReleaseType">
    <xs:annotation>
      <xs:documentation>A data type for an activity relating to the supervision of a subject based on specific conditions placed upon a subject as imposed by a court or supervising agency.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:SupervisionType">
        <xs:sequence>
          <xs:element ref="j:SupervisedReleaseProjectedEndDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisedReleaseRevocationDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SupervisionAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a supervision.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:SupervisionReleaseEligibilityDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionReleaseDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:SupervisionReinstatementDate" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VehicleAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:VehicleOwnershipNICB" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VesselAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a vessel.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:VesselHomePortText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VictimType">
    <xs:annotation>
      <xs:documentation>A data type for a person who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WarrantType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization for an enforcement official to perform a specified action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:CourtOrderType">
        <xs:sequence>
          <xs:element ref="j:WarrantExtraditionLimitation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityAugmentation" type="j:ActivityAugmentationType" substitutionGroup="nc:ActivityAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityDocumentValidator" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity to contact to validate a document.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivitySubjectAssociation" type="j:ActivitySubjectAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an activity and a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ActivityWarrantAssociation" type="j:ActivityWarrantAssociationType">
    <xs:annotation>
      <xs:documentation>An association between an activity and a warrant.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Arrest" type="j:ArrestType">
    <xs:annotation>
      <xs:documentation>An apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agency which employs the arresting official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge or accusation a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court of law in which the case is being tried.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseLinkage" type="j:CaseLinkageType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifying number for a case submitted by an agency which is known or believed to be related to the case of this activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseLinkageNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifying number for a case which is known or believed to be related to the activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifying number for a case that this activity is a part of, where the case number belongs to the agency that owns the activity information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Charge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeNCICText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A literal description of an offense within the National Crime Information Center (NCIC) system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeVictim" type="j:VictimType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person or entity who is the victim of an offense designated by the charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceColorPrimaryCode" type="ncic:VCOCodeType" substitutionGroup="nc:ItemColor">
    <xs:annotation>
      <xs:documentation>A single, upper-most, front-most, or majority color of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceColorSecondaryCode" type="ncic:VCOCodeType" substitutionGroup="nc:ItemColor">
    <xs:annotation>
      <xs:documentation>A lower-most or rear-most color of a two-tone vehicle or a lesser color of a multi-colored vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyancePart" type="j:ConveyancePartType">
    <xs:annotation>
      <xs:documentation>A part or component of a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyancePartAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ConveyancePartType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyancePartBrand" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a brand name or manufacturer name of a conveyance part.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyancePartBrandCode" type="ncic:BRACodeType" substitutionGroup="j:ConveyancePartBrand">
    <xs:annotation>
      <xs:documentation>A brand name or manufacturer name of a conveyance part.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyancePartCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of conveyance part.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyancePartCategoryCode" type="ncic:CATCodeType" substitutionGroup="j:ConveyancePartCategory">
    <xs:annotation>
      <xs:documentation>A kind of conveyance part.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyancePartID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier assigned to a conveyance part.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistration" type="j:ConveyanceRegistrationType">
    <xs:annotation>
      <xs:documentation>A registration of a conveyance with an authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationAssociation" type="j:ItemRegistrationAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between a property item and its registration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationDecal" type="nc:DecalType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sticker attached to a permanent registration plate on a conveyance when it is renewed for the current year.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPlateCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of registration plate or license plate of a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPlateCategoryCode" type="ncic:LITCodeType" substitutionGroup="j:ConveyanceRegistrationPlateCategory">
    <xs:annotation>
      <xs:documentation>A kind of registration plate or license plate of a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification on a metal plate fixed to a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationStatus" type="j:ConveyanceRegistrationStatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of registration for a conveyance.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationStatusAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a most recent activity recorded for a registration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationStatusAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ConveyanceRegistrationStatusType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ConveyanceRegistrationStatusDetail" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for additional details about a registration status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a unit of a court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtOrderAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtOrderType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtOrderIssuingCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court that issued a court order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtOrderServiceDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a court order was delivered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtSupervisingAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A supervising agency that performs court services for a court unit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalOrganization" type="j:CriminalOrganizationType">
    <xs:annotation>
      <xs:documentation>An organization that is formed to or intentionally conducts illegal activities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalOrganizationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CriminalOrganizationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalOrganizationNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a criminal organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalOrganizationTraitDetails" type="j:CriminalTraitDetailsType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of characteristic traits and identifiers of a criminal organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalTraitDetails" type="j:CriminalTraitDetailsType">
    <xs:annotation>
      <xs:documentation>A set of criminal characteristics associated with a person or a criminal organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalTraitDressText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifying dress or clothing associated with a criminal organization or person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalTraitGraffitiDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of criminal artwork associated with a criminal organization or person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalTraitHandSignalText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifying hand signal associated with a criminal organization or person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CriminalTraitTattooDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a tattoo associated with a criminal organization or person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNACollectedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if DNA has been collected; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DNACollectionStatus" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a status on the DNA collection from a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseAssociation" type="j:DriverLicenseAssociationType">
    <xs:annotation>
      <xs:documentation>An association between a driver license and a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that is affixed to the raw materials (card stock, laminate, etc.) used in producing driver licenses and ID cards. The numbers are issued by the material's manufacturer and provide a unique reference to a card within a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseExpirationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date after which a driver license or driver license permit is no longer valid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseIdentification" type="nc:IdentificationType">
    <xs:annotation>
      <xs:documentation>A driver license identification or driver license permit identification, including the number and state.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EngineHorsepowerQuantity" type="nc:QuantityType">
    <xs:annotation>
      <xs:documentation>A measure count of the horsepower of a conveyance engine.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Firearm" type="j:FirearmType">
    <xs:annotation>
      <xs:documentation>A weapon that will, or is designed to, or may readily be converted to expel a projectile by air, carbon dioxide, or the action of an explosive.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FirearmBoreSize" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a size of the inside diameter of a firearm barrel or bore.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FirearmBoreSizeText" type="nc:TextType" substitutionGroup="j:FirearmBoreSize">
    <xs:annotation>
      <xs:documentation>A size of the inside diameter of a firearm barrel or bore.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FirearmCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of firearm.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FirearmCategoryText" type="nc:TextType" substitutionGroup="j:FirearmCategory">
    <xs:annotation>
      <xs:documentation>A kind of firearm.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FirearmMake" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a manufacturer of a firearm.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FirearmMakeCode" type="ncic:MAKCodeType" substitutionGroup="j:FirearmMake">
    <xs:annotation>
      <xs:documentation>A manufacturer of a firearm.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageAugmentation" type="j:ImageAugmentationType" substitutionGroup="nc:ImageAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an image.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of image that that has been taken.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageCategoryCode" type="ncic:IMTCodeType" substitutionGroup="j:ImageCategory">
    <xs:annotation>
      <xs:documentation>A kind of image that that has been taken.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImageNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification assigned to an Image by the FBI National Crime Information Center.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Incarceration" type="j:IncarcerationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A confinement of a subject as sentenced by a court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncarcerationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for IncarcerationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncarcerationProjectedReleaseDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a subject is anticipated to complete service of final sentence, automatically or manually calculated, based on current sentence information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentArrestCountQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A count of persons arrested as a result of recovering the property of record</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentAugmentation" type="j:IncidentAugmentationType" substitutionGroup="nc:IncidentAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentMissingPersonFoundText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number and kind of missing persons found as a result of solving the case</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentRecoveredItem" type="nc:ItemType" nillable="true">
    <xs:annotation>
      <xs:documentation>A property item that was found or recovered in an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Involvement" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person's or organization's involvement in something.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemAugmentation" type="j:ItemAugmentationType" substitutionGroup="nc:ItemAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemCategoryNCICTYPCode" type="ncic:TYPCodeType" substitutionGroup="nc:ItemCategory">
    <xs:annotation>
      <xs:documentation>A kind of property.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemHazardousMaterialsContainerText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A stolen chemical container.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemLotIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification a Lot of Stolen Property.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemLotNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number assigned to a shipment that an item is a part of.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of an item which is self-checking  and consists of an alphabetic character followed by nine numeric characters automatically assigned by the National Crime Information Center System to each accepted record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemPartialLot" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an indicates whether a stolen chemical represents a partial or complete shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemPartialLotText" type="nc:TextType" substitutionGroup="j:ItemPartialLot">
    <xs:annotation>
      <xs:documentation>An indicates whether a stolen chemical represents a partial or complete shipment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemRecoveredAdditionalValue" type="nc:ItemValueType" nillable="true">
    <xs:annotation>
      <xs:documentation>A fair market value in whole dollars of other property recovered in addition to the property of record</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemRecoveredContrabandValue" type="nc:ItemValueType" nillable="true">
    <xs:annotation>
      <xs:documentation>A fair market value in whole dollars of any contraband recovered as a result of recovering the property of record</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemRegistration" type="j:ItemRegistrationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A registration of an item with an authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemRegistrationAssociation" type="j:ItemRegistrationAssociationType">
    <xs:annotation>
      <xs:documentation>An association between an item and its registration information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemRegistrationAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ItemRegistrationAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemRegistrationHolder" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity to whom a registration is issued for a property item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemSerialIdentificationRange" type="j:IdentificationRangeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A set of identifying numbers inscribed on or attached to a consecutive lot of parts, collection of parts, or complete units.  Assigned by the manufacturer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Jewelry" type="j:JewelryType" nillable="true">
    <xs:annotation>
      <xs:documentation>An adornment made out of metals, gems, or imitations materials.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JewelryCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of jewelry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JewelryCategoryCode" type="ncic:JWTCodeType" substitutionGroup="j:JewelryCategory">
    <xs:annotation>
      <xs:documentation>A kind of jewelry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JewelryCategoryText" type="nc:TextType" substitutionGroup="j:JewelryCategory">
    <xs:annotation>
      <xs:documentation>A kind of jewelry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JurisdictionNCICLSTACode" type="ncic:LSTACodeType" substitutionGroup="nc:JurisdictionAbstract">
    <xs:annotation>
      <xs:documentation>An area, state, region, or other geographic unit over which some kind of authority exists.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JuvenileOffenderIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the legal status of a person is a juvenile; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationCategoryCode" type="ucr:LocationCategoryCodeType" substitutionGroup="nc:LocationCategory">
    <xs:annotation>
      <xs:documentation>A kind or functional description of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStateNCICLISCode" type="ncic:LISCodeType" substitutionGroup="nc:LocationState">
    <xs:annotation>
      <xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LocationStateNCICLSTACode" type="ncic:LSTACodeType" substitutionGroup="nc:LocationState">
    <xs:annotation>
      <xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MaximumRangeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A highest value identification number in a consecutive number range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MinimumRangeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A lowest value identification number in a consecutive number range.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPerson" type="j:MissingPersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person whose whereabouts are unknown.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonCircumstance" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a circumstance surrounding the disappearance of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonCircumstanceText" type="nc:TextType" substitutionGroup="j:MissingPersonCircumstance">
    <xs:annotation>
      <xs:documentation>A circumstance surrounding the disappearance of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonDisappearanceCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of disappearance of a missing person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonDisappearanceCategoryCode" type="ncic:MNPCodeType" substitutionGroup="j:MissingPersonDisappearanceCategory">
    <xs:annotation>
      <xs:documentation>A kind of disappearance of a missing person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonInterestIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if NCMEC interest in a Missing Person Record; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonLastSeenDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a missing person was last seen before disappearing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MissingPersonLastSeenLocation" type="nc:LocationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A place a missing person was last seen before disappearing.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Offense" type="j:OffenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>An act or a course of action which may constitute a violation of a criminal statute, ordinance or rule that occurred during an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseArrestAssociation" type="j:OffenseArrestAssociationType">
    <xs:annotation>
      <xs:documentation>A relationship between an offense and the arrest of a subject alleged to have committed the offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseArrestAssociationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for OffenseArrestAssociationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for OffenseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseCategoryText" type="nc:TextType" substitutionGroup="j:OffenseCategory">
    <xs:annotation>
      <xs:documentation>A kind of offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseChargeAssociation" type="j:OffenseChargeAssociationType">
    <xs:annotation>
      <xs:documentation>A relationship between an offense that occurred and the formal charge that was assigned to it as a result of classifying the offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseDesignation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a distinguishing designation of an offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseLevel" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a level of an offense, such as a felony or misdemeanor.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseLevelText" type="nc:TextType" substitutionGroup="j:OffenseLevel">
    <xs:annotation>
      <xs:documentation>A level of an offense, such as a felony or misdemeanor.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseNCICCode" type="ncic:OFFCodeType" substitutionGroup="j:OffenseDesignation">
    <xs:annotation>
      <xs:documentation>An offense designation as specified by FBI's National Crime Information Center (NCIC) system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseSubjectAssociation" type="j:OffenseSubjectAssociationType">
    <xs:annotation>
      <xs:documentation>A relationship between an offense that was committed and the subject alleged to have committed that offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseSummary" type="j:OffenseSummaryType" nillable="true">
    <xs:annotation>
      <xs:documentation>A summary of a type of offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseSummaryArrestQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of arrests for a summary offense type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseSummaryAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for OffenseSummaryType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationFieldOfficeText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Field Office that has jurisdiction over an area in which the ORI is located.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationIdentification" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an identification for an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationORIIdentification" type="nc:IdentificationType" substitutionGroup="j:OrganizationIdentification">
    <xs:annotation>
      <xs:documentation>A unique nine character NCIC identification (ORI) assigned to a justice-related organization by the FBI CJIS Division.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="nc:PersonAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBOPRegisterNumberID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A number used by the Bureau of Prisons (BOP).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthplace" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a state or country of a person's birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthplaceCode" type="ncic:POBCodeType" substitutionGroup="j:PersonBirthplace" nillable="true">
    <xs:annotation>
      <xs:documentation>A state or country of a person's birth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBloodTypeCode" type="ncic:BLTCodeType" substitutionGroup="nc:PersonBloodType">
    <xs:annotation>
      <xs:documentation>A blood group and RH factor of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBodyPartsText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A status of the body parts of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBodyXRaysAvailableCode" type="ncic:BXRCodeType" substitutionGroup="nc:PersonBodyXRaysAvailable">
    <xs:annotation>
      <xs:documentation>An X-ray of a body part available for a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCautionInformation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a cautionary piece of information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCautionInformationCode" type="ncic:CMCCodeType" substitutionGroup="j:PersonCautionInformation">
    <xs:annotation>
      <xs:documentation>A cautionary piece of information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonCautionInformationText" type="nc:TextType" substitutionGroup="j:PersonCautionInformation" nillable="true">
    <xs:annotation>
      <xs:documentation>A cautionary piece of information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalCharacteristicGeneral" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a person's general dental characteristics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalCharacteristicGeneralText" type="nc:TextType" substitutionGroup="j:PersonDentalCharacteristicGeneral">
    <xs:annotation>
      <xs:documentation>A person's general dental characteristics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalCharacteristicNCICCode" type="ncic:DCHCodeType" substitutionGroup="nc:PersonDentalCharacteristic" nillable="true">
    <xs:annotation>
      <xs:documentation>A characteristic of a person's teeth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalPhotoModelAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if dental x-rays are available with a record; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalRecordsAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if dental records, including x-rays, photos, models or other records, are available; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDentalXRayAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if dental photos or models are available with a record; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEmancipationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date the subject will become an adult.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEthnicityCode" type="ucr:EthnicityCodeType" substitutionGroup="nc:PersonEthnicity">
    <xs:annotation>
      <xs:documentation>A cultural lineage of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEyeColorCode" type="ncic:EYECodeType" substitutionGroup="nc:PersonEyeColor">
    <xs:annotation>
      <xs:documentation>A color of the eyes of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFootPrintAvailableIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a footprint is available with a person record; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHairColorCode" type="ncic:HAICodeType" substitutionGroup="nc:PersonHairColor">
    <xs:annotation>
      <xs:documentation>A color of the hair of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHitResults" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a result of a NCIC Hit and the general disposition of the record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHitResultsText" type="nc:TextType" substitutionGroup="j:PersonHitResults" nillable="true">
    <xs:annotation>
      <xs:documentation>A result of a NCIC Hit and the general disposition of the record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A file control number (FCN) identification that is often used to link a NCIC record to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameCategoryCode" type="j:PersonNameCategoryCodeType" substitutionGroup="nc:PersonNameCategory">
    <xs:annotation>
      <xs:documentation>A kind of name for a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonPasswordText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A password provided/used by a victim of Identity Theft to verify their ID.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonProfessionalCertificateText" type="nc:TextType">
    <xs:annotation>
      <xs:documentation>A designation earned by a person to assure that he/she is qualified to perform a job or task, includes trade certification and professional designations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRaceCode" type="ncic:RACCodeType" substitutionGroup="nc:PersonRace">
    <xs:annotation>
      <xs:documentation>A classification of a person based on factors such as geographical locations and genetics.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonRegisteredOffenderIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person is required to register as an offender; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSexCode" type="ncic:SEXCodeType" substitutionGroup="nc:PersonSex">
    <xs:annotation>
      <xs:documentation>A gender or sex of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSkinToneCode" type="ncic:SKNCodeType" substitutionGroup="nc:PersonSkinTone">
    <xs:annotation>
      <xs:documentation>A color or tone of the skin of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PhysicalFeatureClassText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A feature class (general image content) of a SMT.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Probation" type="nc:SupervisionType" nillable="true">
    <xs:annotation>
      <xs:documentation>A judicial requirement that a person fulfill certain conditions of behavior in lieu of jail time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProtectionOrder" type="j:ProtectionOrderType" nillable="true">
    <xs:annotation>
      <xs:documentation>A civil order, issued by a court, protecting one individual from another.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProtectionOrderAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ProtectionOrderType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProtectionOrderBradyIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the subject is considered Brady disqualified; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProtectionOrderCondition" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a specific kind of protection order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProtectionOrderConditionCode" type="ncic:PCOCodeType" substitutionGroup="j:ProtectionOrderCondition">
    <xs:annotation>
      <xs:documentation>A specific kind of protection order.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProtectionOrderConditionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Translation of the Protection Order Condition Indicates Response Message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegisteredOffender" type="j:RegisteredOffenderType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person that is required to register their residential information with a local law enforcement agency due to having been convicted of a certain kind of crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegisteredOffenderDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a registered offense for which a person must register.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegisteredOffenderEndDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person no longer must register as an offender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegisteredOffenderEntryDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person initially registered as an offender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegisteredOffenderOffenseOfRegistrationAssociation" type="j:RegisteredOffenderOffenseOfRegistrationAssociationType">
    <xs:annotation>
      <xs:documentation>A relationship between a registered offender and an offense for which the offender must register.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegisteredOffenderStartDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person must being registering as an offender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RegisteredOffenderStatusIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if the registered offender status of a Subject is current; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecuritiesAugmentation" type="j:SecuritiesAugmentationType" substitutionGroup="nc:SecuritiesAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a securities item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecuritiesCategoryCode" type="ncic:TYPSCodeType" substitutionGroup="nc:SecuritiesCategory">
    <xs:annotation>
      <xs:documentation>A kind of security.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecuritiesDateSeriesCode" type="ncic:SDTCodeType" substitutionGroup="nc:SecuritiesDateSeries">
    <xs:annotation>
      <xs:documentation>A security date or series year.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecuritiesDenominationCode" type="ncic:DENCodeType" substitutionGroup="nc:SecuritiesDenomination">
    <xs:annotation>
      <xs:documentation>A value within a series of values reflecting the worth of a security note.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecuritiesRansomMoney" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of ransom money being represented.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecuritiesRansomMoneyText" type="nc:TextType" substitutionGroup="j:SecuritiesRansomMoney">
    <xs:annotation>
      <xs:documentation>A kind of ransom money being represented.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sentence" type="j:SentenceType">
    <xs:annotation>
      <xs:documentation>A punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was sentenced.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceExpirationDate" type="nc:DateType">
    <xs:annotation>
      <xs:documentation>A date the sentence expires.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceIssuerEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity which issued a sentence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is involved or suspected of being involved in an incident or criminal activity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectArmedIndicator" type="niem-xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if wanted person is armed; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectCriminalOrganizationInvolvementCode" type="ncic:ECRCodeType" substitutionGroup="j:Involvement">
    <xs:annotation>
      <xs:documentation>A subject's involvement in a criminal organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectExtraditionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An indication of whether extradition will occur.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectInvolvementCriminalOrganization" type="j:CriminalOrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A criminal organization with which a subject is known or suspected of being involved.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectVictimAssociation" type="j:SubjectVictimAssociationType">
    <xs:annotation>
      <xs:documentation>A relationship between a subject and a victim.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisedRelease" type="j:SupervisedReleaseType">
    <xs:annotation>
      <xs:documentation>An activity relating to the supervision of a subject based on specific conditions placed upon a subject as imposed by a court or supervising agency.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisedReleaseProjectedEndDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date on which supervised release is projected to end.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisedReleaseRevocationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date that the supervised release was revoked.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionAugmentation" type="j:SupervisionAugmentationType" substitutionGroup="nc:SupervisionAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a supervision.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionReinstatementDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date that a supervision is reinstated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionReleaseDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date set at which a person under supervision is released.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SupervisionReleaseEligibilityDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date set at which a person under supervision is eligible for release</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ToothPositionIDCode" type="ncic:ToothIDCodeType" substitutionGroup="biom:ToothPosition" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a tooth based on its location within a mouth.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleAugmentation" type="j:VehicleAugmentationType" substitutionGroup="nc:VehicleAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleMakeCode" type="ncic:VMACodeType" substitutionGroup="nc:VehicleMake">
    <xs:annotation>
      <xs:documentation>A manufacturer of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleModelCode" type="ncic:VMOCodeType" substitutionGroup="nc:VehicleModel">
    <xs:annotation>
      <xs:documentation>A specific design or class of vehicle made by a manufacturer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleOwnershipNICB" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a NICB Division location in the United States, showing interest in a stolen vehicle entry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleOwnershipNICBText" type="nc:TextType" substitutionGroup="j:VehicleOwnershipNICB">
    <xs:annotation>
      <xs:documentation>A NICB Division location in the United States, showing interest in a stolen vehicle entry.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VehicleStyleCode" type="ncic:VSTCodeType" substitutionGroup="nc:ItemStyle">
    <xs:annotation>
      <xs:documentation>A style of a vehicle.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselAugmentation" type="j:VesselAugmentationType" substitutionGroup="nc:VesselAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselCategoryCode" type="ncic:BTYCodeType" substitutionGroup="nc:VesselCategory">
    <xs:annotation>
      <xs:documentation>A kind of vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselColorPrimaryCode" type="ncic:BCOCodeType" substitutionGroup="nc:ItemColor">
    <xs:annotation>
      <xs:documentation>A color of the majority of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselColorSecondaryCode" type="ncic:BCOCodeType" substitutionGroup="nc:ItemColor">
    <xs:annotation>
      <xs:documentation>A minor color of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselHomePortText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A home port of the boat, sometimes identified on back of boat.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselMakeCode" type="ncic:BMACodeType" substitutionGroup="nc:VesselMake">
    <xs:annotation>
      <xs:documentation>A manufacturer of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Victim" type="j:VictimType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person, organization, or other entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimToSubjectRelationship" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a code that identifies the victim's relationship to subject who perpetrated a crime against them, depicting who the victim was to the offender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimToSubjectRelationshipCode" type="ndex:VictimToSubjectRelationshipCodeType" substitutionGroup="j:VictimToSubjectRelationship">
    <xs:annotation>
      <xs:documentation>A code that identifies the victim's relationship to subject who perpetrated a crime against them, depicting who the victim was to the offender.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Warrant" type="j:WarrantType" nillable="true">
    <xs:annotation>
      <xs:documentation>An authorization for an enforcement official to perform a specified action.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantExtraditionLimitation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a limitation placed on the extradition of a subject from an area outside the immediate jurisdiction of the issuing court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantExtraditionLimitationCode" type="ncic:EXLCodeType" substitutionGroup="j:WarrantExtraditionLimitation">
    <xs:annotation>
      <xs:documentation>A kind of limitation placed on the extradition of a subject from an area outside the immediate jurisdiction of the issuing court.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
