NLETS_Schema/IAR/xsd/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/fbi/2.0" schemaLocation="../../fbi/2.0/fbi.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:complexType name="ActivityType">
		<xsd:annotation>
			<xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactMeans" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a calendar date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:annotation>
			<xsd:documentation>A data type for a paper or electronic document.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DriverLicenseBaseType">
		<xsd:annotation>
			<xsd:documentation>A data type for an authorization issued to a driver granting driving privileges.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DriverLicenseIdentification" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FullTelephoneNumberType">
		<xsd:annotation>
			<xsd:documentation>A data type for a full telephone number.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberFullID" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="0"/>
					<xsd:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LengthMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of length.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MeasurePointValueType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measure point value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureValue" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumericType">
		<xsd:annotation>
			<xsd:documentation>A data type for a number value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:decimal"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonGivenName" minOccurs="0"/>
					<xsd:element ref="nc:PersonMiddleName" minOccurs="0"/>
					<xsd:element ref="nc:PersonSurName" minOccurs="0"/>
					<xsd:element ref="nc:PersonMaidenName" minOccurs="0"/>
					<xsd:element ref="nc:PersonFullName" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>A data type for a human being.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonBirthDate" minOccurs="0"/>
					<xsd:element ref="nc:PersonEyeColor" minOccurs="0"/>
					<xsd:element ref="nc:PersonHeightMeasure" minOccurs="0"/>
					<xsd:element ref="nc:PersonName" minOccurs="0"/>
					<xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonSex" minOccurs="0"/>
					<xsd:element ref="nc:PersonSSNIdentification" minOccurs="0"/>
					<xsd:element ref="nc:PersonWeightMeasure" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StatusType">
		<xsd:annotation>
			<xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TelephoneNumberType">
		<xsd:annotation>
			<xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a character string.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="WeightMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ContactInformation" type="nc:ContactInformationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactMeans" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A means of contacting someone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DriverLicenseIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Details about a driver license identifier or driver license permit identifier, including the number and state.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full telephone number.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TelephoneNumberRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a kind of identification.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that identifies something.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A specific measurement value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A measurement value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date a person was born.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEyeColor" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A color of the eyes of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEyeColorText" type="nc:TextType" substitutionGroup="nc:PersonEyeColor" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A color of the eyes of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonEyeColor"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A first name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the height of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonMaidenName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An original surname of a person before changed by marriage.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A middle name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A unique reference to a living person; assigned by the United States Social Security Administration.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSex" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonSex"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A last name or family name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Status" type="nc:StatusType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A state of something or someone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A status or condition of something or someone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberFullID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneNumberRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A telephone number.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
