NLETS_Schema/BR/nlets/boat-registration/1.0/niem/domains/maritime/3.1/maritime.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/maritime/3.1/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:m="http://release.niem.gov/niem/domains/maritime/3.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>Maritime</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../../niem-core/3.0/niem-core.xsd" namespace="http://release.niem.gov/niem/niem-core/3.0/"/>
  <xs:import schemaLocation="../../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="PortType">
    <xs:annotation>
      <xs:documentation>A data type for a facility capable of receiving vessels and transferring cargo.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:FacilityType">
        <xs:sequence>
          <xs:element ref="m:PortName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VesselAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type that supplements nc:VesselType.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="m:VesselBeamMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselBuildDate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselClass" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselCruiseSpeedMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselDeadWeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselDisplacementMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselDraftMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselDraftUnloadedMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselEngineCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselFuelCategoryText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselGrossTonnageValue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselHomePort" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselHullCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselHullColor" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselMastHeightMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselMaximumCrewQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselMaximumRangeMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselMaximumStaticDraftMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselMaximumSpeedMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselMaximumPassengerQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselOfficialCoastGuardNumberText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselOverallLengthMeasure" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="m:VesselShaftQuantity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PortName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a port.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpeedUnit" substitutionGroup="nc:MeasureUnit" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a unit of measure of a speed value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SpeedUnitText" type="nc:TextType" substitutionGroup="m:SpeedUnit">
    <xs:annotation>
      <xs:documentation>A unit of measure of a speed value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselAugmentation" type="m:VesselAugmentationType" substitutionGroup="nc:VesselAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselBeamMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the beam (breadth) of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselBuildDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date (or year) a vessel was built.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a description of a type of a vessel based upon the purpose for which the vessel was designed or built.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselCategoryText" type="nc:TextType" substitutionGroup="m:VesselCategory">
    <xs:annotation>
      <xs:documentation>A kind of vessel based upon the purpose for which the vessel was designed or built.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselClass" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a class or category of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselClassText" type="nc:TextType" substitutionGroup="m:VesselClass">
    <xs:annotation>
      <xs:documentation>A class or category of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselCruiseSpeedMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the cruise speed of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselDeadWeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the total carrying capacity of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselDisplacementMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A weight of a vessel when empty.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselDraftMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the draft of a vessel when fully loaded.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselDraftUnloadedMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the draft of a vessel when unloaded.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselEngineCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the kind of engines on a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselFuelCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of fuel a vessel uses.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselGrossTonnageValue" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A gross tonnage (GT) of a vessel, described as a unitless index related to the overall internal volume of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselHomePort" type="m:PortType" nillable="true">
    <xs:annotation>
      <xs:documentation>A home port of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselHullCategory" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a category or kind of a hull of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselHullCategoryText" type="nc:TextType" substitutionGroup="m:VesselHullCategory">
    <xs:annotation>
      <xs:documentation>A kind of a hull of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselHullColor" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a primary color of the hull of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselHullColorText" type="nc:TextType" substitutionGroup="m:VesselHullColor">
    <xs:annotation>
      <xs:documentation>A primary color of a hull of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselMastHeightMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the height of the tallest (highest) mast of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselMaximumCrewQuantity" type="nc:QuantityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A maximum number of crew members that can be aboard a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselMaximumPassengerQuantity" type="nc:QuantityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A maximum number of passengers that are legally or safely permitted to be aboard a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselMaximumRangeMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the maximum range of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselMaximumSpeedMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the maximum speed of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselMaximumStaticDraftMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the draft of a vessel when fully loaded.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselOfficialCoastGuardNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An Official United States Coast Guard Number (USCG Official Number) of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselOverallLengthMeasure" type="nc:MeasureType" nillable="true">
    <xs:annotation>
      <xs:documentation>A measure of the overall length of a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VesselShaftQuantity" type="nc:QuantityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of shafts on a vessel.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
