NLETS_Schema/FR/xsd/rapsheet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:rap="http://nlets.org/niem2/rapsheet/1.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ansi-nist="http://niem.gov/niem/ansi-nist/2.0" xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:scr="http://niem.gov/niem/domains/screening/2.0" xmlns:rap-code="http://nlets.org/niem2/rapsheet/1.0/codes" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://nlets.org/niem2/rapsheet/1.0" version="1">
	<xsd:annotation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/ansi-nist/2.0" schemaLocation="niem/ansi-nist/2.0/ansi-nist.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="niem/niem-core/2.0/niem-core.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.0" schemaLocation="niem/domains/jxdm/4.0/jxdm.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/domains/screening/2.0" schemaLocation="niem/domains/screening/2.0/screening.xsd"/>
	<xsd:import namespace="http://nlets.org/niem2/rapsheet/1.0/codes" schemaLocation="rap-code.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="niem/proxy/xsd/2.0/xsd.xsd"/>
	<xsd:complexType name="ArrestType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/domains/jxdm/4.0" i:name="ArrestType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:ArrestType">
				<xsd:sequence>
					<xsd:element ref="rap:ArrestSubject" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BiometricsType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonDigitalImage" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:PersonDNA" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:PersonFingerprintSet" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:PersonPalmPrint" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BookingType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/domains/jxdm/4.0" i:name="BookingType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:BookingType">
				<xsd:sequence>
					<xsd:element ref="rap:BookingSubject" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CaveatType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:CaveatText"/>
					<xsd:element ref="rap:CaveatReferenceDate" minOccurs="0"/>
					<xsd:element ref="rap:CaveatIssuingAuthorityText"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="rap:OrganizationType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CourtActionType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="j:CourtCharge" maxOccurs="unbounded"/>
					<xsd:element ref="rap:CourtRecordIdentification" minOccurs="0"/>
					<xsd:element ref="rap:CourtActionSubject" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DNAType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="BiometricType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BiometricType">
				<xsd:sequence>
					<xsd:element ref="nc:DNALocus" maxOccurs="14"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FingerprintType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="BiometricType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BiometricType">
				<xsd:sequence>
					<xsd:element ref="ansi-nist:FingerPositionCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FingerprintSetType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="BiometricType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BiometricType">
				<xsd:sequence>
					<xsd:element ref="rap:Fingerprint" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IncidentType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="IncidentType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:IncidentType">
				<xsd:sequence>
					<xsd:element ref="rap:IncidentSubject" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IntroductionType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="rap:Caveat" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:RapSheetRequest"/>
					<xsd:element ref="rap:ControlData" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MetadataType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="MetadataType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MetadataType">
				<xsd:sequence>
					<xsd:element ref="rap:Version" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="OrganizationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:OrganizationType">
				<xsd:sequence>
					<xsd:element ref="j:OrganizationAugmentation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="PersonType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonType">
				<xsd:sequence>
					<xsd:element ref="j:PersonAugmentation" minOccurs="0"/>
					<xsd:element ref="rap:SubjectCautionInformationText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="j:SubjectOffenderNoticeText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonBiometricsAssociationType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/domains/screening/2.0" i:name="PersonBiometricAssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="scr:PersonBiometricAssociationType">
				<xsd:sequence>
					<xsd:element ref="rap:PersonBiometrics"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProsecutionType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="j:ProsecutionCharge" maxOccurs="unbounded"/>
					<xsd:element ref="rap:ProsecutionAgencyRecordIdentification" minOccurs="0"/>
					<xsd:element ref="rap:ProsecutionSubject" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProsecutionAgencyAssociationType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="rap:ProsecutionReference"/>
					<xsd:element ref="nc:OrganizationReference"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RapSheetType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="rap:Metadata" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Introduction"/>
					<xsd:element ref="rap:RapSheetPerson"/>
					<xsd:element ref="nc:PersonEmploymentAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:PersonBiometricsAssociation" minOccurs="0"/>
					<xsd:element ref="nc:Location" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Court" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Agency" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ResidenceAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:RapSheetCycle" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:ArrestAgencyAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:BookingAgencyAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:CourtActionCourtAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:ProsecutionAgencyAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:SentencingCourtAssociation" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:SupervisionAgencyAssociation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RapSheetCycleType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="rap:CycleEarliestDate"/>
					<xsd:element ref="rap:CycleTrackingIdentificationID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Incident" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Arrest" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Booking" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Prosecution" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:CourtAction" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Sentencing" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:Supervision" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RapSheetRequestType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="rap:PurposeCode"/>
					<xsd:element ref="rap:Attention"/>
					<xsd:element ref="rap:RapSheetPerson"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SegmentSubjectType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/domains/jxdm/4.0" i:name="SubjectType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="j:SubjectType">
				<xsd:sequence>
					<xsd:element ref="rap:SubjectFullName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SentencingType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="j:Sentence" maxOccurs="unbounded"/>
					<xsd:element ref="rap:SentencingCourtRecordIdentification" minOccurs="0"/>
					<xsd:element ref="rap:SentencingSubject" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SupervisionType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ActivityType">
				<xsd:sequence>
					<xsd:element ref="rap:SupervisionCharge" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:SupervisionAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:SupervisionCourtRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="rap:SupervisionSubject" minOccurs="0"/>
					<xsd:element ref="nc:SupervisionCustodyStatus" maxOccurs="unbounded"/>
					<xsd:element ref="nc:SupervisionRelease" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SupervisionAgencyAssociationType">
		<xsd:annotation>
			<xsd:documentation/>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/niem-core/2.0" i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="rap:SupervisionReference"/>
					<xsd:element ref="nc:OrganizationReference"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Agency" type="rap:OrganizationType"/>
	<xsd:element name="Arrest" type="rap:ArrestType"/>
	<xsd:element name="ArrestAgencyAssociation" type="nc:ActivityOrganizationAssociationType"/>
	<xsd:element name="ArrestSubject" type="rap:SegmentSubjectType"/>
	<xsd:element name="Attention" type="nc:TextType"/>
	<xsd:element name="Booking" type="rap:BookingType"/>
	<xsd:element name="BookingAgencyAssociation" type="nc:ActivityOrganizationAssociationType"/>
	<xsd:element name="BookingSubject" type="rap:SegmentSubjectType"/>
	<xsd:element name="Caveat" type="rap:CaveatType"/>
	<xsd:element name="CaveatIssuingAuthorityText" type="nc:TextType"/>
	<xsd:element name="CaveatReferenceDate" type="niem-xsd:date"/>
	<xsd:element name="ControlData" type="nc:IdentificationType"/>
	<xsd:element name="Court" type="rap:CourtType"/>
	<xsd:element name="CourtAction" type="rap:CourtActionType"/>
	<xsd:element name="CourtActionCourtAssociation" type="j:ActivityCourtAssociationType"/>
	<xsd:element name="CourtActionSubject" type="rap:SegmentSubjectType"/>
	<xsd:element name="CourtRecordIdentification" type="nc:IdentificationType"/>
	<xsd:element name="CycleEarliestDate" type="nc:DateType"/>
	<xsd:element name="CycleTrackingIdentificationID" type="niem-xsd:string"/>
	<xsd:element name="EntityOrganization" type="rap:OrganizationType" substitutionGroup="nc:EntityRepresentation"/>
	<xsd:element name="Fingerprint" type="rap:FingerprintType"/>
	<xsd:element name="Incident" type="rap:IncidentType"/>
	<xsd:element name="IncidentSubject" type="rap:SegmentSubjectType"/>
	<xsd:element name="Introduction" type="rap:IntroductionType"/>
	<xsd:element name="IdentificationCategoryText" type="rap-code:IdentificationCategoryType" substitutionGroup="nc:IdentificationCategory"/>
	<xsd:element name="Metadata" type="rap:MetadataType"/>
	<xsd:element name="PersonBiometricsAssociation" type="rap:PersonBiometricsAssociationType"/>
	<xsd:element name="PersonBiometrics" type="rap:BiometricsType"/>
	<xsd:element name="PersonDNA" type="rap:DNAType"/>
	<xsd:element name="PersonFingerprintSet" type="rap:FingerprintSetType"/>
	<xsd:element name="PersonBloodTypeText" type="rap-code:BloodTypeType" substitutionGroup="nc:PersonBloodType"/>
	<xsd:element name="PersonEyeColorText" type="rap-code:EyeColorType" substitutionGroup="nc:PersonEyeColor"/>
	<xsd:element name="PersonEthnicityText" type="rap-code:EthnicityType" substitutionGroup="nc:PersonEthnicity"/>
	<xsd:element name="PersonHairColorText" type="rap-code:HairColorType" substitutionGroup="nc:PersonHairColor"/>
	<xsd:element name="PersonMaritalStatusText" type="rap-code:MaritalStatusType"/>
	<xsd:element name="PersonRaceText" type="rap-code:RaceType" substitutionGroup="nc:PersonRace"/>
	<xsd:element name="PersonSexText" type="rap-code:SexType" substitutionGroup="nc:PersonSex"/>
	<xsd:element name="PersonSkinToneText" type="rap-code:SkinToneType" substitutionGroup="nc:PersonSkinTone"/>
	<xsd:element name="Prosecution" type="rap:ProsecutionType"/>
	<xsd:element name="ProsecutionAgencyAssociation" type="rap:ProsecutionAgencyAssociationType"/>
	<xsd:element name="ProsecutionAgencyRecordIdentification" type="nc:IdentificationType"/>
	<xsd:element name="ProsecutionReference" type="s:ReferenceType"/>
	<xsd:element name="ProsecutionSubject" type="rap:SegmentSubjectType"/>
	<xsd:element name="PurposeCode" type="rap-code:PurposeCodeType"/>
	<xsd:element name="RapSheetCycle" type="rap:RapSheetCycleType"/>
	<xsd:element name="RapSheetPerson" type="rap:PersonType"/>
	<xsd:element name="RapSheetRequest" type="rap:RapSheetRequestType"/>
	<xsd:element name="Sentencing" type="rap:SentencingType"/>
	<xsd:element name="SentencingCourtAssociation" type="j:ActivityCourtAssociationType"/>
	<xsd:element name="SentencingCourtRecordIdentification" type="nc:IdentificationType"/>
	<xsd:element name="SentencingSubject" type="rap:SegmentSubjectType"/>
	<xsd:element name="SubjectCautionInformationText" type="nc:TextType"/>
	<xsd:element name="SubjectFullName" type="nc:PersonNameTextType"/>
	<xsd:element name="Supervision" type="rap:SupervisionType"/>
	<xsd:element name="SupervisionAgencyAssociation" type="rap:SupervisionAgencyAssociationType"/>
	<xsd:element name="SupervisionCharge" type="j:ChargeType"/>
	<xsd:element name="SupervisionAgencyRecordIdentification" type="nc:IdentificationType"/>
	<xsd:element name="SupervisionCourtRecordIdentification" type="nc:IdentificationType"/>
	<xsd:element name="SupervisionReference" type="s:ReferenceType"/>
	<xsd:element name="SupervisionSubject" type="rap:SegmentSubjectType"/>
	<xsd:element name="Version" type="nc:TextType"/>
	<!-- Root Element -->
	<xsd:element name="RapSheet" type="rap:RapSheetType"/>
</xsd:schema>
