ssp/NCIC_Query_Request/schema/NCIC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://www.fbi.gov/literalTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.nlets.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.nlets.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nlets.org/literalTypes">
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2" schemaLocation="ncic.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/common/proxy" schemaLocation="ncic_codes.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/1.0.0" schemaLocation="cjis.xsd"/>
    <s:import namespace="http://www.it.ojp.gov/jxdm/3.0.3" schemaLocation="jxdm.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/boat" schemaLocation="boat.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/identitytheft" schemaLocation="identitytheft.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/licenseplate" schemaLocation="licenseplate.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/missingperson" schemaLocation="missingperson.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/protectionorder" schemaLocation="protectionorder.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/sentry" schemaLocation="sentry.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/sexualoffender" schemaLocation="sexualoffender.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/supervisedrelease" schemaLocation="supervisedrelease.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/vehicle" schemaLocation="vehicle.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/vehicleboatpart" schemaLocation="vehicleboatpart.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/vgtof" schemaLocation="vgtof.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/article" schemaLocation="article.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/gun" schemaLocation="gun.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/securities" schemaLocation="securities.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/unidentifiedperson" schemaLocation="unidentifiedperson.xsd"/>
    <s:import namespace="http://cjis.fbi.gov/ncic/1.0.2/wantedperson" schemaLocation="wantedperson.xsd"/>
      <s:element name="ProcessMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XMLMsgTrans" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessSoapIn">
    <wsdl:part name="parameters" element="s0:ProcessMessage" />
  </wsdl:message>
  <wsdl:message name="ProcessSoapOut">
    <wsdl:part name="parameters" element="s0:ProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="NCICWSSoap">
    <wsdl:operation name="Process">
      <wsdl:input message="tns:ProcessSoapIn" />
      <wsdl:output message="tns:ProcessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NCICWSSoap" type="tns:NCICWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://www.ncic.fbi.gov/Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NCICService">
    <wsdl:port name="NCICWSSoap" binding="tns:NCICWSSoap">
      <soap:address location="http://www.fbi.gov/ncic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions> 