ssp/NCIC_Query_Request/schema/NLETS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://www.nlets.org/literalTypes"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns="http://www.nlets.org" xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.nlets.org"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://www.nlets.org/literalTypes">
			<s:element name="ProcessMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="XMLMsgTrans"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ProcessResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="ProcessResult"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ProcessSoapIn">
		<wsdl:part name="parameters" element="s0:ProcessMessage" />
	</wsdl:message>
	<wsdl:message name="ProcessSoapOut">
		<wsdl:part name="parameters" element="s0:ProcessResponse" />
	</wsdl:message>
	<wsdl:portType name="NletsWSSoap">
		<wsdl:operation name="Process">
			<wsdl:input message="tns:ProcessSoapIn" />
			<wsdl:output message="tns:ProcessSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NletsWSSoap" type="tns:NletsWSSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Process">
			<soap:operation soapAction="http://www.nlets.org/Process"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NletsWS">
		<wsdl:port name="NletsWSSoap" binding="tns:NletsWSSoap">
			<soap:address location="http://199.104.240.109/nletsmessage/nletsws.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>