NLETS_Schema/CR/xsd/jxdm/3.0/proxy/xsd/1.0/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.it.ojp.gov/jxdm/3.0.2/proxy/xsd/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:j="http://www.it.ojp.gov/jxdm/3.0">
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/3.0" schemaLocation="../../../jxdm.xsd"/>
  <xsd:complexType name="base64Binary">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="boolean">
    <xsd:simpleContent>
      <xsd:extension base="xsd:boolean">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="date">
    <xsd:simpleContent>
      <xsd:extension base="xsd:date">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="integer">
    <xsd:simpleContent>
      <xsd:extension base="xsd:integer">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="nonNegativeInteger">
    <xsd:simpleContent>
      <xsd:extension base="xsd:nonNegativeInteger">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="string">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
